
@{
    ViewBag.Title = "Quản lý Nghệ sĩ";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/AdminController/artist.management.controller.js")
<!-- Bootstrap Color Picker -->
<link href="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- bootstrap wysihtml5 - text editor -->
<link href="~/Areas/Administrator/assets/Administrator/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />

<section ng-controller="ArtistMaNaController">
    <section class="content-header">
        <h1>
            Quản Lý Nghệ Sĩ
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-music"></i>Quản lý</a></li>
            <li class="active"> Quản Lý Nghệ Sĩ</li>
        </ol>
        <div class="input-group" style="display:flex!important; width:550px;margin-top:10px">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." ng-model="searchName" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <button ng-click="addArtist()" class="btn btn-primary btn-block" style="margin-left:100px!important" data-toggle="modal" data-target="#modaladd-editartist">Thêm nghệ sĩ</button>
        </div>


    </section>

    <!-- Main content -->
    <section class="content">
        <div class="table-responsive">
            <table show-filter="true" class="table table-bordered table-striped stickytb">
                <thead>
                    <tr>
                        <td></td>
                        <th scope="col">Mã Nghệ Sĩ</th>
                        <th scope="col">Tên Nghệ Sĩ</th>
                        <th scope="col">Mô Tả</th>
                        <th scope="col">Anh</th>
                        <th scope="col">Anh To</th>
                        <th scope="col">Quốc Gia</th>
                        <th scope="col">Ban Nhạc</th>
                        <th scope="col">Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="a in artists|itemsPerPage:pageSize|filter:searchName" total-items="totalCount">
                    @*<tr ng-repeat="a in artists">*@
                        <td>{{$index + 1}}</td>
                        <td scope="col">{{a.ArtistID}}</td>
                        <td scope="col">{{a.ArtistName}}</td>
                        <td scope="col">{{a.Description}}</td>
                        <td scope="col"><img style=" width:60px;height:60px" src="~/assets/img/artist/{{a.Image}}" /></td>
                        <td scope="col"><img style=" width:60px;height:60px" src="~/assets/img/artist/{{a.ImageBig}}" /></td>
                        <th scope="col">{{a.Nation}}</th>
                        <th scope="col">{{a.GenderorisBand}}</th>
                        <td title="'Thao tác'">
                            <button ng-click="editArtist(a)" type="button" style="background-color:forestgreen" title="Sửa" data-toggle="modal" data-target="#modaleditartist">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button ng-click="DeleteArtist(a)" type="button" style="background-color:red" title="Xóa" data-toggle="modal" data-target="#modaldeleteartist">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class=" pagination sortPagiBar">
                <dir-pagination-controls max-size="maxSize"
                                         direction-links="true"
                                         boundary-links="true"
                                         on-page-change="GetArtists(newPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
        <div class="modal fade" id="modaladd-editartist" role="dialog" aria-labelledby="myLargeModalLabel">
            <form class="modal-dialog modal-lg" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="text-align: center">{{feature}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mã Nghệ Sĩ:</label>
                                    <input type="text" class="form-control" ng-model="artist.ArtistID">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Tên Nghệ Sĩ:</label>
                                    <input type="text" class="form-control" placeholder="Tên nghệ sĩ" ng-model="artist.ArtistName">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mô Tả:</label>
                                    <div class="form-group">
                                        <textarea class="textarea" placeholder="Mô Tả Nghệ Sĩ" style="width: 100%; height: 105px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Anh </label>
                                    <input type="file" id="Image" ngf-select="UploadFiles($files,'Image')" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Anh To</label>
                                    <input type="file" id="ImageBig" ngf-select="UploadFiles($files,'ImageBig')" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Quốc gia:</label>
                                    <select class="form-control" ng-model="artist.Nation">
                                        <option selected ng-value="{{ 1 }}">Việt Nam</option>
                                        <option ng-value="{{ 2 }}">Âu Mỹ</option>
                                        <option ng-value="{{ 3 }}">Châu Á</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Ban Nhạc:</label>
                                    <select class="form-control" ng-model="artist.GenderorisBand">
                                        <option selected ng-value="{{ 1 }}">Việt Nam</option>
                                        <option ng-value="{{ 2 }}">Âu Mỹ</option>
                                        <option ng-value="{{ 3 }}">Châu Á</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary" ng-click="SaveAdd()">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="modaladd-editartist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm Nghệ Sĩ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Mã Nghệ Sĩ</td>
                                    <td><input ng-model="artist.ArtistID" /></td>
                                </tr>
                                <tr>
                                    <td>Tên Nghệ Sĩ</td>
                                    <td><input ng-model="artist.ArtistName" /></td>
                                </tr>
                                <tr>
                                    <td>Mô Tả</td>
                                    <td><input ng-model="artist.Description" /></td>
                                </tr>

                                <tr>
                                    <td>Anh</td>
                                    <td>
                                        <input type="file" multiple="multiple" ngf-select="UploadFiles($files,'Anh')" />
                                        <input ng-model="artist.Image" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Anh To</td>
                                    <td>
                                        <input type="file" multiple="multiple" ngf-select="UploadFiles($files,'Anh')" />
                                        <input ng-model="artist.ImageBig" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Quốc Gia</td>
                                    <td>
                                    <td>
                                        <input ng-model="artist.Nation" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ban Nhạc</td>
                                    <td><input ng-model="artist.GenderorisBand" /></td>
                                    <td><input type="file" id="imgAnhTo" ngf-select="UploadFiles($files,'AnhTo')" /></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button ng-click="SaveAdd()" type="button" class="btn btn-primary" data-dismiss="modal">Thêm Nghệ Sĩ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modaleditartist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sửa Nghệ Sĩ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mã Nghệ Sĩ:</label>
                                    <input type="text" class="form-control" ng-model="artist.ArtistID">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Tên Nghệ Sĩ:</label>
                                    <input type="text" class="form-control" ng-model="artist.ArtistName">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mô Tả:</label>
                                    <div class="form-group">
                                        <textarea class="textarea" placeholder="Mô Tả Nghệ Sĩ" style="width: 100%; height: 105px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Anh </label>
                                    <input type="file" id="Image" ngf-select="UploadFiles($files,'Image')" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Anh To</label>
                                    <input type="file" id="ImageBig" ngf-select="UploadFiles($files,'ImageBig')" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Quốc Gia</label>
                                    <select class="form-control" ng-model="artist.Nation">
                                        <option selected ng-value="{{ 1 }}">Việt Nam</option>
                                        <option ng-value="{{ 2 }}">Âu Mỹ</option>
                                        <option ng-value="{{ 3 }}">Châu Á</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Ban Nhạc</label>
                                    <select class="form-control" ng-model="artist.GenderorisBand">
                                        <option selected ng-value="{{ 1 }}">Việt Nam</option>
                                        <option ng-value="{{ 2 }}">Âu Mỹ</option>
                                        <option ng-value="{{ 3 }}">Châu Á</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button ng-click="SaveEdit()" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="modal fade" id="modaldeleteartist" role="dialog" aria-labelledby="mySmallModalLabel">
                <form class="modal-dialog modal-sm" role="form">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel" style="text-align: center">Bạn có đồng ý muốn xóa bài hát</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary" ng-click="DeleteArtist(a)">Đồng ý</button>
                        </div>
                    </div>
                </form>
            </div>*@
    </section>
</section>
<!-- Bootstrap 3.3.7 -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap datepicker -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/Areas/Administrator/assets/Administrator/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="~/Scripts/dirPagination.js"></script>
<script>
    $(document).ready(function () {
        $('#datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
        }).datepicker('setDate', new Date())
        $('.textarea').wysihtml5()
    })
</script>
