
@{
    ViewBag.Title = "Quản lý Playlist Admin";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/AdminController/playlistadmin.management.controller.js")
<!-- Bootstrap Color Picker -->
<link href="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<section ng-controller="PlaylistAdminManaController">
    <section class="content-header">
        <h1>
            Quản lý PlaylistAdmin
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-music"></i>Quản lý</a></li>
            @*<li><a href="#">Examples</a></li>*@
            <li class="active">Quản lý Admin</li>
        </ol>
        <button ng-click="addPlaylist()" class="btn btn-primary btn-block" style="margin-top: 8px" data-toggle="modal" data-target="#modaladd-editplaylist">Thêm playlist</button>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="table-responsive">
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped stickytb">
                <tr ng-repeat="row in $data">
                    <td title="'#'">
                        {{$index + 1}}
                    </td>
                    <td title="'Ảnh'">
                        <img src="~/assets/img/playlist/admin/{{row.Image}}" alt="{{row.PlaylistName}}" />
                    </td>
                    <td title="'Mã playlist'" filter="{'PlaylistID': 'text'}" sortable="'PlaylistID'">
                        {{row.PlaylistID}}
                    </td>
                    <td title="'Tên bài hát'" filter="{'PlaylistName': 'text'}" sortable="'PlaylistName'">
                        {{row.PlaylistName}}
                    </td>
                    <td title="'Tài khoản tạo'">
                        {{row.AccountName}}
                    </td>
                    <td title="'Ngày tạo'" filter="{'DateCreated': 'text'}" sortable="'DateCreated'">
                        {{row.DateCreated | jsDate | date : "dd-MM-yyyy"}}
                    </td>
                    <td title="'Chế độ'" sortable="'isPublic'">
                        <label class="badge bg-yellow" ng-show="row.isPublic">Công khai</label>
                        <label class="badge bg-dark" ng-hide="row.isPublic">Bị ẩn</label>
                    </td>
                    <td title="'Tên người tạo'" filter="{'PersonName': 'text'}" sortable="'PersonName'">
                        {{row.PersonName}}
                    </td>
                    <td title="'Thao tác'">
                        <button ng-click="editPlaylist(row)" type="button" class="btn btn-block btn-success" title="Sửa" data-toggle="modal" data-target="#modaladd-editplaylist">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="deletePlaylist(row)" type="button" class="btn btn-block btn-danger" title="Xóa"  data-toggle="modal" data-target="#modaldeleteplaylist">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal fade" id="modaladd-editplaylist" role="dialog" aria-labelledby="myLargeModalLabel">
            <form class="modal-dialog modal-lg" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="text-align: center">{{feature}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mã playlist:</label>
                                    <input type="text" class="form-control" disabled ng-model="Playlist.PlaylistID">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Tên playlist:</label>
                                    <input type="text" class="form-control" ng-model="Playlist.PlaylistName">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mô tả:</label>
                                    <input type="text" class="form-control" ng-model="Playlist.Description">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Ngày phát hành:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" id="datepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>File ảnh playlist:</label>
                                    <input type="file" id="file-img" class="form-control" style="display: none" ngf-select="UploadImage($files)" ng-model="SelectedFileImage">
                                    <div class="input-group">
                                        <input type="text" class="form-control" disabled placeholder="Tải ảnh playlist lên" ng-model="Playlist.Image">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="RemoveImage()">Remove</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="openFileImage()">Upload</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Chế độ:</label>
                                    <select class="form-control" ng-model="Playlist.isPublic">
                                        <option ng-value="{{ true }}">Công khai</option>
                                        <option ng-value="{{ false }}">Bị ẩn</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Tài khoản tạo:</label>
                                    <input type="text" class="form-control" disabled ng-model="Playlist.AccountName">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Tên người tạo:</label>
                                    <input type="text" class="form-control" disabled ng-model="Playlist.PersonName">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Tuyển tập:</label>
                                    <ui-select multiple ng-model="Playlist.Collections" close-on-select="false" title="Chọn các thể loại">
                                        <ui-select-match placeholder="Chọn hoặc tìm các thể loại">{{$item.CollectionName}}</ui-select-match>
                                        <ui-select-choices repeat="c in collections | filter: {CollectionName : $select.search}" group-by="firstLetterGroupPlaylistFn2">
                                            <div>{{c.CollectionName}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label>Bài hát:</label>
                                <ui-select multiple ng-model="Playlist.Songs" close-on-select="false" title="Chọn các bài hát">
                                    <ui-select-match placeholder="Chọn hoặc tìm các bài hát">
                                        <img src="~/assets/img/song/{{$item.Image}}" style="width: 30px; height: 30px; object-fit: cover; margin-right: 8px;" alt="" />
                                        <span>{{$item.SongName}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="s in songs | filter: {SongName : $select.search}" group-by="firstLetterGroupPlaylistFn">
                                        <img src="~/assets/img/song/{{s.Image}}" style="width: 30px; height: 30px; object-fit: cover; margin-right: 8px;" alt="" />
                                        <span>{{s.SongName}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" ng-click="addeditPlaylistSave()">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="modaldeleteplaylist" role="dialog" aria-labelledby="mySmallModalLabel">
            <form class="modal-dialog modal-sm" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="text-align: center">Bạn có đồng ý muốn xóa playlistst</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="agreetodeletePlaylist()">Đồng ý</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- /.content -->
</section>

<!-- Bootstrap 3.3.7 -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap datepicker -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $('#datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
        }).datepicker('setDate', new Date())
    })
</script>
