
@{
    ViewBag.Title = "Quản lý Quản lí";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/AdminController/album.management.controller.js")
<!-- Bootstrap Color Picker -->
<link href="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<section ng-controller="AlbumManaController">
    <section class="content-header">
        <h1>
            Quản lí
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-music"></i> Quản lí</a></li>
            <li class="active">Quản lí album</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="table-responsive">
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped stickytb">
                <tr ng-repeat="row in $data">
                    <td title="'#'">
                        {{$index + 1}}
                    </td>
                    <td title="'Ảnh'">
                        <img src="~/assets/img/playlist/admin/{{row.Image}}" alt="{{row.PlaylistName}}" />
                    </td>
                    <td title="'Mã ALbum'" filter="{'PlaylistID': 'text'}" sortable="'PlaylistID'">
                        {{row.PlaylistID}}
                    </td>
                    <td title="'Tên Album'" filter="{'PlaylistName': 'text'}" sortable="'PlaylistName'">
                        {{row.PlaylistName}}
                    </td>
                    <td title="'Mô Tả'">
                        {{row.AccountName}}
                    </td>
                    <td title="'Ngày phát hành'" filter="{'ReleasedDate': 'text'}" sortable="'DateCreated'">
                        {{row.ReleasedDate | jsDate | date : "dd-MM-yyyy"}}
                    </td>
                    
                    <td title="'Thao tác'">
                        <button ng-click="editPlaylist(row)" type="button" class="btn btn-block btn-success" title="Sửa" data-toggle="modal" data-target="#modaladd-editplaylist">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="Delete(row)" type="button" class="btn btn-block btn-danger" title="Xóa">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

    </section>
</section>
<!-- Bootstrap 3.3.7 -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap datepicker -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
        }).datepicker('setDate', new Date())
    })
</script>