/* listening */
.play-music {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 100%;
    background-color: var(--white-color);
    z-index: 10;
    transition: height 0.5s linear;
    /* box-shadow: 1px 1px 5px rgb(0 0 0 / 30%); */
    border-top: 1px solid var(--border-color);
}

.play-music.hidden {
    display: none;
}

.background {
}

.background img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s linear;
    filter: brightness(0.5);
}

.background img.animation {
    animation: backgroundScale 10s linear;
}

.background img.active {
    opacity: 1;
}

.play-music.show {
    height: 100%;
}

.play-music.show .play-music__main {
    --text-color: #ffffff;
    --text-color-blur: #ffffff;
    color: var(--white-color);
}

.play-music__main {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.media {
    width: 30%;
    display: flex;
    align-items: center;
}

.media-left {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--border-color);
}

.media-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-content {
    flex-grow: 1;
}

.media-right {
    margin-left: 10px;
    width: 80px;
    margin-right: 50px;
    display: flex;
}

.media-right .song__like,
.media-right .song__more {
    display: block;
}

.controls {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    height: 90px;
}

.controls__player {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.controls__player .btn {
    height: 44px;
    width: 44px;
    margin: 0 5px;
    /*color: var(--text-color-blur);*/
}

.controls__player .btn:hover {
    color: var(--main-color);
}

.controls__player .btn.active {
    color: var(--main-color);
}

.controls__player i {
    font-size: 3.2rem;
}

.controls__player .btn:nth-child(3) i,
.controls__player .btn:first-child i,
.controls__player .btn:last-child i {
    font-size: 2.4rem;
}

.controls_time {
    display: flex;
    align-items: center;
}

.controls_time span {
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 1.3rem;
}

.controls_time .controls_time--range {
    flex-grow: 1;
    margin: 0 10px;
}

.controls_time--range {
    width: 100%;
    height: 2px;
    cursor: pointer;
    overflow: hidden;
}

.controls_time--range:hover {
    overflow: unset;
    height: 4px;
}

.controls-extend {
    width: 25%;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.controls-extend .btn:hover {
    background-color: var(--bg-color-blur3);
}

.controls-extend .btn {
    margin: 0 5px;
}

.volume {
    display: flex;
    align-items: center;
}

.volume::after {
    content: "";
    display: block;
    height: 50px;
    width: 1px;
    background-color: var(--border-color);
    margin: 0 0 0 10px;
}

.controls_volume {
    height: 3px;
    cursor: pointer;
    overflow: hidden;
}

.controls_volume:hover {
    overflow: unset;
    height: 4px;
    overflow: unset;
}

.btn-MV {
    padding: 2px 4px;
}