/* listening */
.play-music {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 100%;
    background-color: var(--white-color);
    z-index: 10;
    transition: height 0.3s linear;
    /* box-shadow: 1px 1px 5px rgb(0 0 0 / 30%); */
}

    .play-music.playing {

    }

    .play-music.hidden {
        display: none;
    }

.bgImgMain {
    filter: blur(15px) brightness(0.7);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.background {
    /*display: none;*/
}

.background img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s linear, transform 10s linear;
    filter: brightness(0.6);
}

    .background img.animation {
        transform: scale(1.2);
        will-change: transform, opacity;
    }

.background img.active {
    opacity: 0.8;
}

.play-music.show {
    height: 100%;
}

    .play-music.show .bgImgMain {
        display: block;
    }

.play-music.show .play-music__main {
    --text-color: #ffffff;
    --text-color-blur: #ffffff;
    color: var(--white-color);
}

.play-music__main {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-top: 1px solid var(--border-color);
    z-index: 2;
}

.media {
    width: 27%;
    display: flex;
    margin-right: 3%;
    align-items: center;
}

.media-left {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border: 1px solid var(--bg-color-blur2);
    flex-shrink: 0;
}

.media-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-content {
    flex-grow: 1;
}

.media-right {
    margin-left: 10px;
    width: 80px;
    display: flex;
}

.media-right .song__like,
.media-right .song__more {
    display: block;
}

.controls {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    height: 90px;
}

.controls__player {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.controls__player .btn {
    height: 44px;
    width: 44px;
    margin: 0 5px;
    /*color: var(--text-color-blur);*/
    transition-duration: 0s;
}

.controls__player .btn:nth-child(3):hover {
    color: var(--main-color);
}

    .controls__player .btn:active {
        background-color: var(--bg-color-blur3);
    }

.controls__player .btn.active {
    color: var(--main-color);
}

.controls__player i {
    font-size: 3.2rem;
}

    .controls__player .btn:nth-child(3) i,
    .controls__player .btn:first-child i,
    .controls__player .btn:last-child i {
        font-size: 2.4rem;
    }

.controls_time {
    display: flex;
    align-items: center;
}

.controls_time span {
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 1.3rem;
}

.controls_time .controls_time--range {
    flex-grow: 1;
    margin: 0 10px;
}

.controls_time--range {
    width: 100%;
    height: 2px;
    cursor: pointer;
    overflow: hidden;
}

.controls_time--range:hover {
    overflow: unset;
    height: 4px;
}

.controls-extend {
    width: 27%;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.controls-extend .btn:hover {
    background-color: var(--bg-color-blur3);
}

.controls-extend .btn {
    margin: 0 5px;
}

.volume {
    display: flex;
    align-items: center;
}

.volume::after {
    content: "";
    display: block;
    height: 50px;
    width: 1px;
    background-color: var(--border-color);
    margin: 0 0 0 10px;
}

.controls_volume {
    height: 3px;
    cursor: pointer;
    overflow: hidden;
    width: calc(100% - 52px);
}

.controls_volume:hover {
    overflow: unset;
    height: 4px;
    overflow: unset;
}

.btn-MV {
    padding: 2px 4px;
    flex-shrink: 0;
}

.controls-extend .btn {
    flex-shrink: 0;
}

.btn-show-queue.focus {
    background-color: var(--main-color);
}

.play-music__waiting-list {
    position: fixed;
    bottom: 89px;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 330px;
    background-color: var(--white-color);
    box-shadow: 0 -4px 8px rgb(0 0 0 / 20%);
    border: 1px solid var(--bg-color-blur2);
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 0.3s linear;
}

    .play-music__waiting-list::-webkit-scrollbar {
        width: 2px;
        background-color: var(--bg-color);
    }

    .play-music__waiting-list::-webkit-scrollbar-thumb {
        width: 2px;
        background-color: transparent;
    }

    .play-music__waiting-list:hover::-webkit-scrollbar-thumb {
        background-color: var(--scroll-color);
    }

.play-music__waiting-list.show {
    transform: translateX(0);
}

.player-queue__container {

}

.player-queue__header {
    padding: 14px 8px;
    display: flex;
}

.player-queue__scroll {

}

.player-queue__header-left {
    border-radius: 999px;
    background-color: var(--bg-color);
    padding: 3px;
    display: flex;
}

.player-tab-btn {
    padding: 8px 11px;
}

    .player-tab-btn.active {
        background-color: var(--white-color);
        color: var(--main-color);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
    }

.player-tab-btn span {
    font-size: 1.3rem;
    padding: 0;
}

.player-queue__header-right {
    display: flex;
    margin-left: 3px;
}

    .player-queue__header-right .btn {
        background-color: var(--bg-color);
        height: 36px;
        width: 36px;
        margin: 0 3px;
    }

.player-queue__list {
    padding: 0 8px 15px;
}

.player-queue__list-queue {

}

.player-queue__list-title {
    font-weight: 600;
    font-size: 1.3rem;
    padding: 0 0px 12px;
    color: var(--text-color-blur);
}

.song.isPlayed {
    background-color: var(--song-hover-color);
}
