
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@Scripts.Render("~/Scripts/AdminController/artist.controller.js")

<style>
    .table {
        width: 100%;
    }

        .table tbody {
            display: block;
            margin: 0;
            width: 100%;
            height: 500px;
            overflow: auto;
        }

        .table thead {
            width: 100%;
        }

            .table thead tr, .table tbody tr {
                width: 100%;
                display: flex;
                justify-content: center;
            }

                .table thead tr th, .table tbody tr th {
                    flex: 1;
                    font-size: 14px;
                    line-height: 1.8rem;
                    height: 5rem;
                    overflow: hidden;
                    display: block;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
</style>
<div class="content-wrapper" ng-controller="ArtistController">
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Nghệ Sĩ</a>
                        </li>
                    </ul>
                    <div>
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-file-add"></i> Thêm</a>
                            <a href="#" class="btn btn-primary text-white me-0"><i class="icon-credit-card"></i> Sửa</a>
                        </div>
                    </div>
                </div>
                <div class="main_body" style="width: 100%; margin-top: 26px;">
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ArtistID</th>
                                    <th scope="col">ArtistName</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">ImageBig</th>
                                    <th scope="col">isBand</th>
                                    <th scope="col">Nation</th>
                                    <th scope="col">Gender</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody style="color: black;">
                                <tr ng-repeat="s in Artists" ng-class-even="even" ng-class-odd="odd">
                                    <th scope="col">{{s.ArtistID}}</th>
                                    <th scope="col">{{s.ArtistName}}</th>
                                    <th scope="col">{{s.Description}}</th>
                                    <th scope="col"><img src="{{s.Image}}" alt="" style="width:50px;height:50px;"></th>
                                    <th scope="col"><img src="{{s.ImageBig}}" alt="" style="width:50px;height:50px;"></th>
                                    <th scope="col">{{s.isBand}}</th>
                                    <th scope="col">{{s.Nation}}</th>
                                    <th scope="col">{{s.Gender}}</th>
                                    <th scope="col">
                                        <button ng-click="Delete(s)" type="button" class="btn btn-otline-dark align-items-center">
                                            <i class="icon-delete" style="font-size: 1.4rem;"></i>
                                        </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
