<div class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="#!/kham-pha/playlist?n=vn&col=Col0000001" ng-class="{active:isActiveNav('vn')}"
                class="nav-item-link">Việt Nam</a></li>
        <li class="nav-item"><a href="#!/kham-pha/playlist?n=usuk&col=Col0000003" ng-class="{active:isActiveNav('usuk')}"
                class="nav-item-link">Âu Mỹ</a></li>
        <li class="nav-item"><a href="#!/kham-pha/playlist?n=ca&col=Col0000073" ng-class="{active:isActiveNav('ca')}"
                class="nav-item-link">Châu Á</a></li>
        <li class="nav-item"><a href="#!/kham-pha/playlist?n=k&col=Col0000011" ng-class="{active:isActiveNav('k')}"
                class="nav-item-link">Khác</a></li>
    </ul>
</div>

<ul class="sub-nav-list" ng-show="isActiveNav('vn')">
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000001')}"><a
            href="#!/kham-pha/playlist?n=vn&col=Col0000001">Nhạc Trẻ</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000013')}"><a
            href="#!/kham-pha/playlist?n=vn&col=Col0000013">Trữ tình</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000070')}"><a
            href="#!/kham-pha/playlist?n=vn&col=Col0000070">Remix Việt</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000006')}"><a
            href="#!/kham-pha/playlist?n=vn&col=Col0000006">Rap Việt</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000071')}"><a
            href="#!/kham-pha/playlist?n=vn&col=Col0000071">Rock Việt</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000078')}"><a
            href="#!/kham-pha/playlist?n=vn&col=Col0000078">Pop Việt</a></li>
</ul>
<ul class="sub-nav-list" ng-show="isActiveNav('ca')">
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000073')}"><a
            href="#!/kham-pha/playlist?n=ca&col=Col0000073">Nhạc Hàn</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000074')}"><a
            href="#!/kham-pha/playlist?n=ca&col=Col0000074">Nhạc Hoa</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000076')}"><a
            href="#!/kham-pha/playlist?n=ca&col=Col0000076">Nhạc Nhật</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000075')}"><a
            href="#!/kham-pha/playlist?n=ca&col=Col0000075">Nhạc Thái</a></li>
</ul>
<ul class="sub-nav-list" ng-show="isActiveNav('usuk')">
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000003')}"><a
            href="#!/kham-pha/playlist?n=usuk&col=Col0000003">Pop</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000005')}"><a
            href="#!/kham-pha/playlist?n=usuk&col=Col0000005">Rock</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000002')}"><a
            href="#!/kham-pha/playlist?n=usuk&col=Col0000002">Electronic/Dance</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000016')}"><a
            href="#!/kham-pha/playlist?n=usuk&col=Col0000016">R&B/Hip hop/Rap</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000072')}"><a
            href="#!/kham-pha/playlist?n=usuk&col=Col0000072">Blues/Jazz</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000004')}"><a
            href="#!/kham-pha/playlist?n=usuk&col=Col0000004">Country</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000017')}"><a
            href="#!/kham-pha/playlist?n=usuk&col=Col0000017">Latin</a></li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000015')}"><a
            href="#!/kham-pha/playlist?n=usuk&col=Col0000015">Indie</a></li>
</ul>
<ul class="sub-nav-list" ng-show="isActiveNav('k')">
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000011')}">
        <a href="#!/kham-pha/playlist?n=k&col=Col0000011">Thiếu Nhi</a>
    </li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000007')}">
        <a href="#!/kham-pha/playlist?n=k&col=Col0000007">Không Lời</a>
    </li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('Col0000077')}">
        <a href="#!/kham-pha/playlist?n=k&col=Col0000077">Nhạc Phim</a>
    </li>
    <li class="sub-nav-item" ng-class="{active:isActiveCollection('ngd')}">
        <a href="#!/kham-pha/playlist?n=k&col=ngd">Người dùng tạo</a>
    </li>
</ul>

<div class="content" ng-controller="PlaylistDiscoveryController">
    <div class="list-playlist">
        <div class="list-playlist__header" ng-show="isActiveNav(undefined)">
            <h3 class="list-playlist__name">
                Mới
            </h3>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col c-6 m-3 l-2-4 sl-2" dir-paginate="p in playlistAdmins | itemsPerPage: pageSize" total-items="totalCount" current-page="pageIndex">
                        <div class="list-playlist__item" style="padding-bottom: 24px;">
                            <div class="decorative"></div>
                            <div class="decorative"></div>
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/playlist/admin/{{p.PlaylistAdmin.Image}}" alt="{{p.PlaylistAdmin.PlaylistName}}">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <button class="btn btn-like btn--circle" title="Bỏ thích" ng-if="p.Liked == 1" ng-click="DislikePlaylist(p, p.PlaylistAdmin.PlaylistID, 1)">
                                        <i class='bx bxs-heart' style="color: var(--main-color)"></i>
                                    </button>
                                    <button class="btn btn-like btn--circle" title="Yêu thích" ng-if="p.Liked == 0" ng-click="LikePlaylist(p, p.PlaylistAdmin.PlaylistID, 1)">
                                        <i class='bx bx-heart'></i>
                                    </button>
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <div class="feature__more">
                                        <div class="feature__item">
                                            <i class='bx bx-link-alt'></i>
                                            <span>Sao chép link</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-share-alt'></i>
                                            <span>Chia sẻ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-playlist__item-name" title="{{p.PlaylistAdmin.PlaylistName}}">
                                <a href="#!/chi-tiet/playlistad?id={{p.PlaylistAdmin.PlaylistID}}">{{p.PlaylistAdmin.PlaylistName}}</a>
                            </div>
                            <div class="list-playlist__item-admin">
                                <p>Tạo bởi:<span>{{p.Admin.PersonName}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-if="!loadSongSuccessfull" ng-repeat="n in getTimes(eleView) track by $index">
                        <span class="MuiSkeleton-root MuiSkeleton-wave" style="width: 100%; position: relative; padding-top: 100%;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 80%; height: 14px;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 60%; height: 12px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-layout">
        <dir-pagination-controls max-size="maxSize" boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>