<div class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="#!/kham-pha/album" ng-class="{active:isActiveNav(undefined)}"
                class="nav-item-link">Mới &
                Hot</a></li>
        <li class="nav-item"><a href="#!/kham-pha/album?n=vn" ng-class="{active:isActiveNav('vn')}"
                class="nav-item-link">Việt Nam</a></li>
        <li class="nav-item"><a href="#!/kham-pha/album?n=usuk" ng-class="{active:isActiveNav('usuk')}"
                class="nav-item-link">Âu Mỹ</a></li>
        <li class="nav-item"><a href="#!/kham-pha/album?n=ca" ng-class="{active:isActiveNav('ca')}"
                class="nav-item-link">Châu Á</a></li>
    </ul>
</div>

<div class="content" ng-controller="AlbumDiscoveryController">
    <div class="list-playlist">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name" ng-show="isActiveNav(undefined)">
                Mới & Hot
            </h3>
            <h3 class="list-playlist__name" ng-show="isActiveNav('vn')">
                Việt Nam
            </h3>
            <h3 class="list-playlist__name" ng-show="isActiveNav('usuk')">
                Âu Mỹ
            </h3>
            <h3 class="list-playlist__name" ng-show="isActiveNav('ca')">
                Châu Á
            </h3>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col c-6 m-3 l-2-4 sl-2" dir-paginate="a in albums | itemsPerPage: pageSize" total-items="totalCount" current-page="pageIndex">
                        <div class="list-playlist__item" style="padding-bottom: 24px;">
                            <div class="decorative"></div>
                            <div class="decorative"></div>
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/album/{{a.Image}}" alt="{{a.AlbumName}}">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <button class="btn btn-like btn--circle" title="Bỏ thích" ng-if="a.Liked == 1" ng-click="DislikeAlbum(a)">
                                        <i class='bx bxs-heart' style="color: var(--main-color)"></i>
                                    </button>
                                    <button class="btn btn-like btn--circle" title="Yêu thích" ng-if="a.Liked == 0" ng-click="LikeAlbum(a)">
                                        <i class='bx bx-heart'></i>
                                    </button>
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <div class="feature__more">
                                        <div class="feature__item">
                                            <i class='bx bx-link-alt'></i>
                                            <span>Sao chép link</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-share-alt'></i>
                                            <span>Chia sẻ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-playlist__item-name" title="{{a.AlbumName}}">
                                <a href="#!/chi-tiet/album?id={{a.AlbumID}}">{{a.AlbumName}}</a>
                            </div>
                            <div class="list-playlist__item-artist">
                                <a href="#!/chi-tiet/nghe-si?id={{a.Artist.ArtistID}}">{{a.Artist.ArtistName}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-if="!loadSongSuccessfull" ng-repeat="n in getTimes(eleView) track by $index">
                        <span class="MuiSkeleton-root MuiSkeleton-wave" style="width: 100%; position: relative; padding-top: 100%;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 80%; height: 14px;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 60%; height: 12px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-layout">
        <dir-pagination-controls max-size="maxSize" boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>