<div class="song-detail">
    <div class="song-detail__main">
        <div class="song-detail__img">
            <img src="../../assets/img/song/{{song.Song.Image}}" alt="{{song.Song.SongName}}">
            <button class="btn btn--circle btn-play-detail" title="nghe">
                <i class='bx bxs-right-arrow'></i>
            </button>
            <button class="btn btn--circle btn-like" title="Yêu thích" style="top: calc(11% + 36px); left: 3%;">
                <i class='bx bx-heart' ng-if="song.Liked == 0"></i>
                <i class='bx bxs-heart' ng-if="song.Liked == 1" style="color: var(--main-color)"></i>
            </button>
            <button class="btn  btn--more btn--circle" title="Khác" style="top: 10%; left: 3%;">
                <i class='bx bx-dots-horizontal-rounded'></i>
            </button>
        </div>
        <div class="song-detail__info">
            <div class="song-detail__name">Bài hát:<span>{{song.Song.SongName}}</span></div>
            <div class="song-detail__artist released__artist">
                <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" class="released__artist-img" ng-repeat="a in song.Artists" title="{{a.ArtistName}}" ng-style="{'z-index': {{ 10 - $index}}}">
                    <img src="../../assets/img/artist/{{a.Image}}" alt="">
                </a>
                <div class="released__artist-name">
                    <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in song.Artists">{{a.ArtistName}}</a>
                </div>
            </div>
            <div class="song-detail__album" ng-show="song.Song.Album.AlbumID">
                Album:<a href="#!/chi-tiet/album?id={{song.Song.Album.AlbumID}}">{{song.Song.Album.AlbumName}}</a>
            </div>
            <div class="song-detail__releasedate">
                <i class='bx bx-calendar'></i>
                <span> Ngày phát hành:<span>{{song.Song.ReleaseDate.replace('/Date(','').replace(')/','') | date : "dd/MM/yyyy"}}</span></span>
            </div>
            <div class="song-detail__desciption">

            </div>
            <div class="song-detail__view">
                <i class='bx bx-headphone'></i>
                <span>{{song.Views}} Lượt nghe</span>
            </div>
            <div class="song-detail__view">
                <i class='bx bxs-heart'></i>
                <span>{{song.TotalLikes}} Yêu thích</span>
            </div>
        </div>
    </div>
    <div class="song-detail__lyric">
        <div class="song-detail__lyric-title">
            <span>Lời bài hát:</span>
            <button class="btn btn-copy">
                <i class="bx bx-copy"></i>
                <span>Sao chép</span>
            </button>
        </div>
        <div class="song-detail__lyric-script" ng-class="{shorten:isShorten}" ng-bind-html="song.Song.Lyric">
        </div>
        <button class="btn btn-view-lyric" ng-click="seeMore()">
            {{titleShorten}}
        </button>
    </div>
    <div class="list-playlist" style="margin-bottom: 70px">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Có thể bạn cũng thích
            </h3>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col l-2">
                        <div class="list-playlist__item" style="padding-bottom: 24px;">
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="./assets/img/1635399302001_300.jpg" alt="Hit-Maker Việt">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <button class="btn btn-like btn--circle" title="Yêu thích">
                                        <i class='bx bx-heart'></i>
                                    </button>
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="list-playlist__item-name" title="Hit-Maker Việt">
                                <a href="#">Hit-Maker Việt</a>
                            </div>
                            <div class="list-playlist__item-artist">
                                <a href="#">Hit-Maker Việt</a>
                                <a href="#">Hit-Maker Việt</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>