<div class="song-detail">
    <div class="song-detail__main">
        <div class="song-detail__img">
            <img src="../../assets/img/song/{{song.Song.Image}}" alt="{{song.Song.SongName}}">
            <button class="btn btn--circle btn-play-detail" title="Phát">
                <i class='bx bxs-right-arrow'></i>
            </button>
            <button class="btn btn--circle btn-like" title="Yêu thích" style="top: calc(11% + 36px); left: 3%;">
                <i class='bx bx-heart' ng-if="song.Liked == 0"></i>
                <i class='bx bxs-heart' ng-if="song.Liked == 1" style="color: var(--main-color)"></i>
            </button>
            <button class="btn  btn--more btn--circle" title="Khác" style="top: 10%; left: 3%;">
                <i class='bx bx-dots-horizontal-rounded'></i>
            </button>
        </div>
        <div class="song-detail__info">
            <div class="song-detail__name">Bài hát:<span>{{song.Song.SongName}}</span></div>
            <div class="song-detail__artist released__artist">
                <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" class="released__artist-img" ng-repeat="a in song.Artists" title="{{a.ArtistName}}" ng-style="{'z-index': {{ 10 - $index}}}">
                    <img src="../../assets/img/artist/{{a.Image}}" alt="{{a.ArtistName}}">
                </a>
                <div class="released__artist-name">
                    <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in song.Artists">{{a.ArtistName}}</a>
                </div>
            </div>
            <div class="song-detail__album" ng-show="song.Song.Album.AlbumID">
                Album:<a href="#!/chi-tiet/album?id={{song.Song.Album.AlbumID}}">{{song.Song.Album.AlbumName}}</a>
            </div>
            <div class="song-detail__releasedate">
                <i class='bx bx-calendar'></i>
                <span> Ngày phát hành:<span>{{song.Song.ReleaseDate | jsDate | date : "dd/MM/yyyy"}}</span></span>
            </div>
            <div class="released__artist-name" style="margin-top: 0.8rem; font-size: 1.4rem; margin-left: 0; display: flex; align-items: center">
                <i class='bx bx-category' style="font-size: 2rem; padding-right: 0.4rem;"></i>
                <span style="padding-left: 0.4rem;">Thể loại:
                    <a href="#!/tuyen-tap?tt={{c.CollectionID}}" ng-repeat="c in song.Collections">{{c.CollectionName}}</a>
                </span>
            </div>
            <div class="song-detail__desciption">

            </div>
            <div class="song-detail__view">
                <i class='bx bx-headphone'></i>
                <span>{{song.Views}} Lượt nghe</span>
            </div>
            <div class="song-detail__view">
                <i class='bx bxs-heart'></i>
                <span>{{song.TotalLikes}} Yêu thích</span>
            </div>
        </div>
    </div>
    <div class="song-detail__lyric">
        <div class="song-detail__lyric-title">
            <span>Lời bài hát:</span>
            <button class="btn btn-copy">
                <i class="bx bx-copy"></i>
                <span>Sao chép</span>
            </button>
        </div>
        <div class="song-detail__lyric-script" ng-class="{shorten:isShorten}" ng-bind-html="song.Song.Lyric" ng-show="song.Song.Lyric">
        </div>
        <button class="btn btn-view-lyric" ng-click="seeMore()" ng-show="song.Song.Lyric">
            {{titleShorten}}
        </button>
    </div>
    <div class="list-playlist" style="margin-bottom: 70px">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Có thể bạn cũng thích
            </h3>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-repeat="s in songs">
                        <div class="list-playlist__item" style="margin-bottom: 24px">
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/song/{{s.Song.Image}}" alt="{{s.Song.SongName}}" />
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <button class="btn btn-like btn--circle" title="Yêu thích">
                                        <i class='bx bx-heart' ng-if="s.Liked == 0"></i>
                                        <i class='bx bxs-heart' ng-if="s.Liked == 1" style="color: var(--main-color)"></i>
                                    </button>
                                    <div class="list-playlist__item-play" ng-click="playMusic(s)">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                </div>
                            </div>
                            <!--<span class="song_vip" ng-show="{{s.Song.isVip}}">VIP</span>-->
                            <div class="list-playlist__item-name" title="{{s.Song.SongName}}">
                                <a href="#!/chi-tiet/bai-hat?song={{s.Song.SongID}}">{{s.Song.SongName}}</a>
                            </div>
                            <div class="list-playlist__item-artist">
                                <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in s.Artists">{{a.ArtistName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>