<div class="collection__pick">
    <div class="collection__pick-list">
        <div class="collection__pick-name">
            Thể Loại
        </div>
        <div class="collection__pick-item" ng-repeat="col in genres | limitTo:5" ng-click="pickedCollection(col, 'tl')"
            ng-class="{active:pickedCollection2(col)}"><i
                class="bx bxs-chevron-right"></i><span>{{col.CollectionName}}</span></div>
        <div class="collection__pick-item collection__pick-item-show" ng-class="{active:isShowCollection(1)}"><i
                class="bx bxs-chevron-down"></i><span style="text-transform: initial;">Xem thêm ...</span></div>
        <div class="collection__pick-list-item">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col sl-3 l-3" ng-repeat="col in genres.slice(5)">
                        <div class="collection__pick-item" ng-click="pickedCollection(col, 'tl')"
                            ng-class="{active:pickedCollection2(col)}"><i
                                class="bx bxs-chevron-right"></i><span>{{col.CollectionName}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection__pick-list">
        <div class="collection__pick-name">
            Tâm trạng
        </div>
        <div class="collection__pick-item" ng-repeat="col in moods | limitTo:5" ng-click="pickedCollection(col, 'tt')"
            ng-class="{active:pickedCollection2(col)}"><i
                class="bx bxs-chevron-right"></i><span>{{col.CollectionName}}</span></div>
        <div class="collection__pick-item collection__pick-item-show" ng-class="{active:isShowCollection(2)}"><i
                class="bx bxs-chevron-down"></i><span style="text-transform: initial;">Xem thêm ...</span></div>
        <div class="collection__pick-list-item">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col sl-3 l-3" ng-repeat="col in moods.slice(5)">
                        <div class="collection__pick-item" ng-click="pickedCollection(col, 'tt')"
                            ng-class="{active:pickedCollection2(col)}"><i
                                class="bx bxs-chevron-right"></i><span>{{col.CollectionName}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection__pick-list">
        <div class="collection__pick-name">
            Khung cảnh
        </div>
        <div class="collection__pick-item" ng-repeat="col in scenes | limitTo:5" ng-click="pickedCollection(col, 'kc')"
            ng-class="{active:pickedCollection2(col)}"><i
                class="bx bxs-chevron-right"></i><span>{{col.CollectionName}}</span></div>
        <div class="collection__pick-item collection__pick-item-show" ng-class="{active:isShowCollection(3)}"><i
                class="bx bxs-chevron-down"></i><span style="text-transform: initial;">Xem thêm ...</span></div>
        <div class="collection__pick-list-item">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col sl-3 l-3" ng-repeat="col in scenes.slice(5)">
                        <div class="collection__pick-item" ng-click="pickedCollection(col, 'kc')"
                            ng-class="{active:pickedCollection2(col)}"><i
                                class="bx bxs-chevron-right"></i><span>{{col.CollectionName}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection__pick-list">
        <div class="collection__pick-name">
            Chủ đề
        </div>
        <div class="collection__pick-item" ng-repeat="col in topics | limitTo:5" ng-click="pickedCollection(col, 'cd')"
            ng-class="{active:pickedCollection2(col)}"><i
                class="bx bxs-chevron-right"></i><span>{{col.CollectionName}}</span></div>
        <div class="collection__pick-item collection__pick-item-show" ng-class="{active:isShowCollection(4)}"><i
                class="bx bxs-chevron-down"></i><span style="text-transform: initial;">Xem thêm ...</span></div>
        <div class="collection__pick-list-item">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col sl-3 l-3" ng-repeat="col in topics.slice(5)">
                        <div class="collection__pick-item" ng-click="pickedCollection(col, 'cd')"
                            ng-class="{active:pickedCollection2(col)}"><i
                                class="bx bxs-chevron-right"></i><span>{{col.CollectionName}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="list-playlist">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name" ng-show="!showpickedCollection">
                Tất cả tuyển tập
            </h3>
            <div class="list-playlist__tag" ng-show="showpickedCollection">
                Đã chọn:
                <span class="list-playlist__tag-item" ng-repeat="col in pickedCollections">
                    <span class="list-playlist__tag-item-name">
                        {{col.CollectionName}}
                    </span>
                    <span class="list-playlist__tag-delete" title="Xóa" ng-click="removeCollection(col)">
                        <i class="bx bxs-x-circle"></i>
                    </span>
                </span>
            </div>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col c-6 m-3 l-2-4 sl-2" dir-paginate="p in playlistAdmins | itemsPerPage: pageSize" total-items="totalCount" current-page="pageIndex">
                        <div class="list-playlist__item" style="padding-bottom: 24px;">
                            <div class="decorative"></div>
                            <div class="decorative"></div>
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/playlist/admin/{{p.PlaylistAdmin.Image}}" alt="{{p.PlaylistAdmin.PlaylistName}}">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <button class="btn btn-like btn--circle" title="Yêu thích">
                                        <i class='bx bx-heart' ng-if="p.Liked == 0"></i>
                                        <i class='bx bxs-heart' ng-if="p.Liked == 1" style="color: var(--main-color)"></i>
                                    </button>
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="list-playlist__item-name" title="{{p.PlaylistAdmin.PlaylistName}}">
                                <a href="#!/chi-tiet/playlistad/pl={{p.PlaylistAdmin.PlaylistID}}">{{p.PlaylistAdmin.PlaylistName}}</a>
                            </div>
                            <div class="list-playlist__item-admin">
                                <p>Tạo bởi:<span>{{p.Admin.PersonName}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-layout">
        <dir-pagination-controls max-size="maxSize" boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>