<div class="home-main__slide" ng-controller="SlideController">
    <div class="home-main__slide-list">
        <a class="home-main__slide-item" href="#!/tuyen-tap?kc=Col0000042">
            <div class="ratio10-4">
                <div class="ratioIn">
                    <img src="./assets/img/Default/gym.jpg" alt="">
                </div>
            </div>
        </a>
        <a class="home-main__slide-item" href="#!/tuyen-tap?cd=Col0000059">
            <div class="ratio10-4">
                <div class="ratioIn">
                    <img src="./assets/img/Default/codien.jpg" alt="">
                </div>
            </div>
        </a>
        <a class="home-main__slide-item" href="#!/tuyen-tap?kc=Col0000078">
            <div class="ratio10-4">
                <div class="ratioIn">
                    <img src="./assets/img/Default/wedding.jpg" alt="">
                </div>
            </div>
        </a>
        <a class="home-main__slide-item" href="#!/tuyen-tap?kc=Col0000050">
            <div class="ratio10-4">
                <div class="ratioIn">
                    <img src="./assets/img/Default/stayhome.jpg" alt="">
                </div>
            </div>
        </a>
        <a class="home-main__slide-item" href="#!/tuyen-tap?tl=Col0000002">
            <div class="ratio10-4">
                <div class="ratioIn">
                    <img src="./assets/img/Default/edm.jpg" alt="">
                </div>
            </div>
        </a>
        <a class="home-main__slide-item" href="#!/tuyen-tap?tl=Col0000014">
            <div class="ratio10-4">
                <div class="ratioIn">
                    <img src="./assets/img/Default/acoustic.jpg" alt="">
                </div>
            </div>
        </a>
        <a class="home-main__slide-item" href="#!/tuyen-tap?cd=Col0000063">
            <div class="ratio10-4">
                <div class="ratioIn">
                    <img src="./assets/img/Default/tinhyeu.jpg" alt="">
                </div>
            </div>
        </a>
    </div>
    <div class="home-main__slide-pick">
        <div class="home-main__slide-pick-item picked"></div>
        <div class="home-main__slide-pick-item"></div>
        <div class="home-main__slide-pick-item"></div>
        <div class="home-main__slide-pick-item"></div>
        <div class="home-main__slide-pick-item"></div>
        <div class="home-main__slide-pick-item"></div>
        <div class="home-main__slide-pick-item"></div>
    </div>
</div>

<div ng-controller="SlideClickController">
    <div class="list-playlist" id="slide-one">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Tận hưởng cuộc sống
            </h3>
            <div class="list-playlist__btn">
                <button class="btn list-playlist__btn-prev disabled">
                    <i class='bx bx-left-arrow-alt'></i>
                </button>
                <button class="btn list-playlist__btn-next">
                    <i class='bx bx-right-arrow-alt'></i>
                </button>
            </div>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter nowrap">
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-repeat="p in playlistsRandom">
                        <div class="list-playlist__item" style="padding-bottom: 24px;">
                            <div class="decorative"></div>
                            <div class="decorative"></div>
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/playlist/admin/{{p.PlaylistAdmin.Image}}" alt="{{p.PlaylistAdmin.PlaylistName}}">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <button class="btn btn-like btn--circle" title="Yêu thích">
                                        <i class='bx bx-heart' ng-if="p.Liked == 0"></i>
                                        <i class='bx bxs-heart' ng-if="p.Liked == 1" style="color: var(--main-color)"></i>
                                    </button>
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <div class="feature__more">
                                        <div class="feature__item">
                                            <i class='bx bx-link-alt'></i>
                                            <span>Sao chép link</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-share-alt'></i>
                                            <span>Chia sẻ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-playlist__item-name" title="{{p.PlaylistAdmin.PlaylistName}}">
                                <a href="#!/chi-tiet/playlistad/pl={{p.PlaylistAdmin.PlaylistID}}">{{p.PlaylistAdmin.PlaylistName}}</a>
                            </div>
                            <div class="list-playlist__item-admin">
                                <p>Tạo bởi:<span>{{p.Admin.PersonName}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-if="!loadSongSuccessfull" ng-repeat="n in getTimes(eleView) track by $index">
                        <span class="MuiSkeleton-root MuiSkeleton-rect MuiSkeleton-wave" style="width: 100%; position: relative; padding-top: 100%;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 80%; height: 14px;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 60%; height: 12px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="list-playlist" id="slide-second">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Mới mẻ hôm nay
            </h3>
            <div class="list-playlist__btn">
                <button class="btn list-playlist__btn-prev disabled">
                    <i class='bx bx-left-arrow-alt'></i>
                </button>
                <button class="btn list-playlist__btn-next">
                    <i class='bx bx-right-arrow-alt'></i>
                </button>
            </div>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter nowrap">
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-repeat="p in playlistsNewest">
                        <div class="list-playlist__item" style="padding-bottom: 24px;">
                            <div class="decorative"></div>
                            <div class="decorative"></div>
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/playlist/admin/{{p.PlaylistAdmin.Image}}" alt="{{p.PlaylistAdmin.PlaylistName}}">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <button class="btn btn-like btn--circle" title="Yêu thích">
                                        <i class='bx bx-heart' ng-if="p.Liked == 0"></i>
                                        <i class='bx bxs-heart' ng-if="p.Liked == 1" style="color: var(--main-color)"></i>
                                    </button>
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <div class="feature__more">
                                        <div class="feature__item">
                                            <i class='bx bx-link-alt'></i>
                                            <span>Sao chép link</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-share-alt'></i>
                                            <span>Chia sẻ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-playlist__item-name" title="{{p.PlaylistAdmin.PlaylistName}}">
                                <a href="#!/chi-tiet/playlistad/pl={{p.PlaylistAdmin.PlaylistID}}">{{p.PlaylistAdmin.PlaylistName}}</a>
                            </div>
                            <div class="list-playlist__item-admin">
                                <p>Tạo bởi:<span>{{p.Admin.PersonName}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-if="!loadSongSuccessfull2" ng-repeat="n in getTimes(eleView) track by $index">
                        <span class="MuiSkeleton-root MuiSkeleton-wave" style="width: 100%; position: relative; padding-top: 100%;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 80%; height: 14px;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 60%; height: 12px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="list-playlist" id="slide-third">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Album mỗi ngày
            </h3>
            <div class="list-playlist__btn">
                <button class="btn list-playlist__btn-prev disabled">
                    <i class='bx bx-left-arrow-alt'></i>
                </button>
                <button class="btn list-playlist__btn-next">
                    <i class='bx bx-right-arrow-alt'></i>
                </button>
            </div>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter nowrap">
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-repeat="a in albumsRandom">
                        <div class="list-playlist__item" style="padding-bottom: 24px;">
                            <div class="decorative"></div>
                            <div class="decorative"></div>
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/album/{{a.Image}}" alt="{{a.AlbumName}}">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <button class="btn btn-like btn--circle" title="Yêu thích">
                                        <i class='bx bx-heart' ng-if="a.Liked == 0"></i>
                                        <i class='bx bxs-heart' ng-if="a.Liked == 1" style="color: var(--main-color)"></i>
                                    </button>
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                </div>
                                <div class="feature__more">
                                    <div class="feature__item">
                                        <i class='bx bx-link-alt'></i>
                                        <span>Sao chép link</span>
                                    </div>
                                    <div class="feature__item">
                                        <i class='bx bx-share-alt'></i>
                                        <span>Chia sẻ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-playlist__item-name" title="{{a.AlbumName}}">
                                <a href="#!/chi-tiet/album?id={{a.AlbumID}}">{{a.AlbumName}}</a>
                            </div>
                            <div class="list-playlist__item-artist">
                                <a href="#!/chi-tiet/nghe-si?id={{a.Artist.ArtistID}}">{{a.Artist.ArtistName}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-if="!loadSongSuccessfull3" ng-repeat="n in getTimes(eleView) track by $index">
                        <span class="MuiSkeleton-root MuiSkeleton-wave" style="width: 100%; position: relative; padding-top: 100%;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 80%; height: 14px;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 60%; height: 12px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="home-main__released">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Mới phát hành
            </h3>
        </div>
        <div class="released__main">
            <div class="released__show">
                <div class="released__img">
                    <img src="../../assets/img/song/{{songNewestpicked.Song.Image}}" alt="{{songNewestpicked.Song.SongName}}" />
                </div>
                <div class="released__info">
                    <h4 class="released__name">
                        <a href="#!/chi-tiet/bai-hat?song={{songNewestpicked.Song.SongID}}">{{songNewestpicked.Song.SongName}}</a>
                    </h4>
                    <div class="released__artist">
                        <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" class="released__artist-img" ng-repeat="a in songNewestpicked.Artists" title="{{a.ArtistName}}" ng-style="{'z-index': {{ 10 - $index}}}">
                            <img src="../../assets/img/artist/{{a.Image}}" alt="{{a.ArtistName}}">
                        </a>
                        <div class="released__artist-name">
                            <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in songNewestpicked.Artists">{{a.ArtistName}}</a>
                        </div>
                    </div>
                    <div class="released__date">
                        <i class='bx bx-calendar'></i>
                        <span> Ngày phát hành:<span>{{songNewestpicked.Song.ReleaseDate.replace('/Date(','').replace(')/','') | date : "dd/MM/yyyy"}}</span></span>
                    </div>
                </div>
            </div>
            <div class="released__picked">
                <div class="released__picked-item" ng-repeat="s in songsNewest" ng-class="{picked:pickedSongNewst($index, s)}" ng-click="pickSongNewst($index, s)" ng-mouseover="pickSongNewst($index, s)">
                    <img src="../../assets/img/song/{{s.Song.Image}}" alt="{{s.Song.SongName}}" />
                    <div class="released__picked-play ratioIn">
                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                            <i class='bx bxs-right-arrow'></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="home-main__rank">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                BXH Bài hát
            </h3>
        </div>
        <div class="home-main__rank-main">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col l-4">
                        <div class="rank-main__item">
                            <img src="./assets/img/Default/bg_top_vn.jpg" alt="">
                            <div class="rank-main__name">Việt Nam</div>
                            <div class="rank-main__song">
                                <img src="./assets/img/1635399302001_300.jpg" alt="">
                                <div class="rank-main__song-play ratioIn">
                                    <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                        <i class='bx bxs-right-arrow'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="rank-main__song">
                                <img src="./assets/img/1631509112943_300.jpg" alt="">
                                <div class="rank-main__song-play ratioIn">
                                    <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                        <i class='bx bxs-right-arrow'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="rank-main__song">
                                <img src="./assets/img/1631509112943_300.jpg" alt="">
                                <div class="rank-main__song-play ratioIn">
                                    <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                        <i class='bx bxs-right-arrow'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="rank-main__pick-info">
                                <div class="rank-main__pick-info-name">
                                    Ái nộ
                                </div>
                                <div class="rank-main__pick-info-artist">
                                    <span>masew</span>,
                                    <span>Khôi Vũ</span>
                                </div>
                            </div>
                            <button class="btn btn--primary btn-outline rank-main__btn-view-all">
                                Xem tất cả
                            </button>
                            <div class="rank-main__order-number">#1</div>
                        </div>
                    </div>
                    <div class="col l-4">
                        <div class="rank-main__item">
                            <img src="./assets/img/Default/bg_top_us.jpg" alt="">
                            <div class="rank-main__name">âu mỹ</div>
                            <div class="rank-main__song">
                                <img src="./assets/img/1635399302001_300.jpg" alt="">
                                <div class="rank-main__song-play ratioIn">
                                    <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                        <i class='bx bxs-right-arrow'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="rank-main__song">
                                <img src="./assets/img/1631509112943_300.jpg" alt="">
                                <div class="rank-main__song-play ratioIn">
                                    <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                        <i class='bx bxs-right-arrow'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="rank-main__song">
                                <img src="./assets/img/1631509112943_300.jpg" alt="">
                                <div class="rank-main__song-play ratioIn">
                                    <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                        <i class='bx bxs-right-arrow'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="rank-main__pick-info">
                                <div class="rank-main__pick-info-name">
                                    Ái nộ
                                </div>
                                <div class="rank-main__pick-info-artist">
                                    <span>masew</span>,
                                    <span>Khôi Vũ</span>
                                </div>
                            </div>
                            <button class="btn btn--primary btn-outline rank-main__btn-view-all">
                                Xem tất cả
                            </button>
                            <div class="rank-main__order-number">#1</div>
                        </div>
                    </div>
                    <div class="col l-4">
                        <div class="rank-main__item">
                            <img src="./assets/img/Default/bg_top_hq.jpg" alt="">
                            <div class="rank-main__name">Châu Á</div>
                            <div class="rank-main__song">
                                <img src="./assets/img/1635399302001_300.jpg" alt="">
                                <div class="rank-main__song-play ratioIn">
                                    <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                        <i class='bx bxs-right-arrow'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="rank-main__song">
                                <img src="./assets/img/1631509112943_300.jpg" alt="">
                                <div class="rank-main__song-play ratioIn">
                                    <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                        <i class='bx bxs-right-arrow'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="rank-main__song">
                                <img src="./assets/img/1631509112943_300.jpg" alt="">
                                <div class="rank-main__song-play ratioIn">
                                    <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                        <i class='bx bxs-right-arrow'></i>
                                    </button>
                                </div>
                            </div>
                            <div class="rank-main__pick-info">
                                <div class="rank-main__pick-info-name">
                                    Ái nộ
                                </div>
                                <div class="rank-main__pick-info-artist">
                                    <span>masew</span>,
                                    <span>Khôi Vũ</span>
                                </div>
                            </div>
                            <button class="btn btn--primary btn-outline rank-main__btn-view-all">
                                Xem tất cả
                            </button>
                            <div class="rank-main__order-number">#1</div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="home-main__list-song">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Bài hát
            </h3>
        </div>
        <div class="list-song-main">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col c-12 m-6 l-6" ng-repeat="s in songsRandom">
                        <div class="song">
                            <div class="song__img">
                                <img src="../../assets/img/song/{{s.Song.Image}}" alt="{{s.Song.SongName}}" />
                            </div>
                            <div class="song__info">
                                <div class="song__name">
                                    <a href="#!/chi-tiet/bai-hat?song={{s.Song.SongID}}">{{s.Song.SongName}}</a>
                                </div>
                                <div class="song__artist">
                                    <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in s.Artists">{{a.ArtistName}}</a>
                                </div>
                            </div>
                            <div class="song__like">
                                <button class="btn btn--circle btn-song-like">
                                    <i class='bx bx-heart' ng-if="s.Liked == 0"></i>
                                    <i class='bx bxs-heart' ng-if="s.Liked == 1" style="color: var(--main-color)"></i>
                                </button>
                            </div>
                            <div class="song__more">
                                <button class="btn btn--circle btn-song-more">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </button>
                            </div>
                            <div class="song__listens">
                                <i class='bx bx-headphone'></i>
                                <span ng-if="s.Views > 999">{{s.Views / 1000 | number:1}}k</span>
                                <span ng-if="s.Views < 1000">{{s.Views}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="list-playlist" id="slide-top" style="margin-bottom: 70px">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Top 100
            </h3>
            <div class="list-playlist__btn">
                <button class="btn list-playlist__btn-prev disabled">
                    <i class='bx bx-left-arrow-alt'></i>
                </button>
                <button class="btn list-playlist__btn-next">
                    <i class='bx bx-right-arrow-alt'></i>
                </button>
            </div>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter nowrap">
                    <div class="col c-6 m-3 l-2-4 sl-2">
                        <div class="list-playlist__item">
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/Default/top100blues-jazz.jpg">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <a class="list-playlist__item-play" href="#!/top-100?n=usuk&col=Col0000072">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2">
                        <div class="list-playlist__item">
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/Default/top100electonica-dance.jpg">
                                </div>
                                <a class="ratioIn list-playlist__item-feature" href="#!/top-100?n=usuk&col=Col0000002">
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2">
                        <div class="list-playlist__item">
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/Default/top100nhactre.jpg">
                                </div>
                                <a class="ratioIn list-playlist__item-feature" href="#!/top-100?n=vn&col=Col0000001">
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2">
                        <div class="list-playlist__item">
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/Default/top100rapviet.jpg">
                                </div>
                                <a class="ratioIn list-playlist__item-feature" href="#!/top-100?n=vn&col=Col0000006">
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2">
                        <div class="list-playlist__item">
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/Default/top100country.jpg">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <a class="list-playlist__item-play" href="#!/top-100?n=usuk&col=Col0000004">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2">
                        <div class="list-playlist__item">
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/Default/top100remixviet.jpg">
                                </div>
                                <a class="ratioIn list-playlist__item-feature" href="#!/top-100?n=vn&col=Col0000070">
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2">
                        <div class="list-playlist__item">
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/Default/top100rap-hiphop.jpg">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <a class="list-playlist__item-play" href="#!/top-100?n=usuk&col=Col0000016">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>