<div class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="#!/da-thich/playlist" class="nav-item-link active">My Playlist</a></li>
    </ul>
</div>

<div class="content">
    <div class="list-playlist">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Playlist
            </h3>
            <button class="btn btn--primary btn-outline btn-login" ng-click="showModalCrud()">Tạo playlist</button>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col c-6 m-3 l-2-4 sl-2" dir-paginate="p in playlistUsers | itemsPerPage: pageSize" total-items="totalCount" current-page="pageIndex">
                        <div class="list-playlist__item" style="padding-bottom: 24px;">
                            <div class="decorative"></div>
                            <div class="decorative"></div>
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/playlist/user/{{p.Image}}" alt="{{p.PlaylistName}}">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác" style="top: 15%">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <div class="feature__more">
                                        <div class="feature__item">
                                            <i class='bx bx-link-alt'></i>
                                            <span>Sao chép link</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-share-alt'></i>
                                            <span>Chia sẻ</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-edit-alt'></i>
                                            <span>Chỉnh sửa</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-message-square-x'></i>
                                            <span>Xóa</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-playlist__item-name" title="{{p.PlaylistName}}">
                                <a href="#!/chi-tiet/playlistnd?id={{p.PlaylistID}}">{{p.PlaylistName}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-if="!loadSongSuccessfull" ng-repeat="n in getTimes(eleView) track by $index">
                        <span class="MuiSkeleton-root MuiSkeleton-wave" style="width: 100%; position: relative; padding-top: 100%;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 80%; height: 14px;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 60%; height: 12px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-layout">
        <dir-pagination-controls max-size="maxSize" boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>

<section class="modal3" style="display: flex" ng-show="isshowModalCrud">
    <div class="modal__overlay" ng-click="hideModalCrud()"></div>
    <div class="modal__body"style="width: unset; height: unset">
        <form class="auth-form" novalidate id="playlist-crud" style="display: block">
            <div class="auth-form__container">
                <div class="auth-form__header" style="display: flex; justify-content: center">
                    <h3 class="auth-form__heading">{{function}}</h3>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group" style="margin-top: 10px">
                        <div class="image-upload">
                            <label for="file-input" style="display: flex; justify-content: center; position: relative; width: 100px; margin: auto;">
                                <img src="../../assets/img/default/img_default.png" style="width: 100px; height: 100px; border-radius: 4px; object-fit: cover" id="img-upload"/>
                                <span style="position: absolute; top: 50%; transform: translateY(-50%);" class="btn">
                                    <i class='bx bx-image-add'></i>
                                </span>
                            </label>
                            <input type="file" id="file-input" ngf-select="UploadImage($files)" ng-model="SelectedFileImage" accept="image/*"/>
                        </div>
                    </div>
                    <div class="auth-form__group" style="margin-top: 20px">
                        <div class="text-field">
                            <label for="username3">Tên playlist</label>
                            <input autocomplete="off" type="text" placeholder="Nhập tên playlist" />
                        </div>
                    </div>
                    <div class="auth-form__group" style="margin-top: 20px">
                        <div class="text-field">
                            <label for="username3">Mô tả</label>
                            <input autocomplete="off" type="text" placeholder="Nhập mô tả" />
                        </div>
                    </div>
                    <div class="auth-form__group" style="margin-top: 10px; display: flex; justify-content: space-between; align-items: center; font-size: 1.4rem; padding: 0 16px">
                        <div>
                            <p>Công khai</p>
                            <p style="color: var(--text-color-blur); font-size: 1.2rem">Mọi người có thể nhìn thấy playlist này</p>
                        </div>
                        <div>
                            <input type="checkbox" id="mode" class="radio-input" />
                            <label for="mode" class="radio-label"></label>
                        </div>
                    </div>
                </div>
                <div class="auth-form__controls" style="padding-bottom: 24px">
                    <button type='button' class="btn btn-outline auth-form__controls-back" ng-click="hideModalCrud()">Hủy</button>
                    <button type="submit" class="btn btn--primary btn-outline btn-login">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img-upload').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#file-input").change(function () {
        readURL(this);
    });
</script>