<div class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="#!/da-thich/playlist" class="nav-item-link active">My Playlist</a></li>
    </ul>
</div>

<div class="content">
    <div class="list-playlist">
        <div class="list-playlist__header">
            <h3 class="list-playlist__name">
                Playlist
            </h3>
        </div>
        <div class="list-playlist__slide">
            <div class="grid">
                <div class="row sm-gutter">
                    <div class="col c-6 m-3 l-2-4 sl-2" dir-paginate="p in playlistUsers | itemsPerPage: pageSize" total-items="totalCount" current-page="pageIndex">
                        <div class="list-playlist__item" style="padding-bottom: 24px;">
                            <div class="decorative"></div>
                            <div class="decorative"></div>
                            <div class="ratio1-1">
                                <div class="ratioIn overflow-hd">
                                    <img src="../../assets/img/playlist/user/{{p.Image}}" alt="{{p.PlaylistName}}">
                                </div>
                                <div class="ratioIn list-playlist__item-feature">
                                    <div class="list-playlist__item-play">
                                        <button class="btn btn-outline btn--circle btn-listen" title="nghe">
                                            <i class='bx bxs-right-arrow'></i>
                                        </button>
                                    </div>
                                    <button class="btn btn--more btn--circle" title="Khác" style="top: 15%">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <div class="feature__more">
                                        <div class="feature__item">
                                            <i class='bx bx-link-alt'></i>
                                            <span>Sao chép link</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-share-alt'></i>
                                            <span>Chia sẻ</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-edit-alt'></i>
                                            <span>Chỉnh sửa</span>
                                        </div>
                                        <div class="feature__item">
                                            <i class='bx bx-message-square-x'></i>
                                            <span>Xóa</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-playlist__item-name" title="{{p.PlaylistName}}">
                                <a href="#!/chi-tiet/playlistnd?id={{p.PlaylistID}}">{{p.PlaylistName}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col c-6 m-3 l-2-4 sl-2" ng-if="!loadSongSuccessfull" ng-repeat="n in getTimes(eleView) track by $index">
                        <span class="MuiSkeleton-root MuiSkeleton-wave" style="width: 100%; position: relative; padding-top: 100%;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 80%; height: 14px;"></span>
                        <span class="MuiSkeleton-root MuiSkeleton-text MuiSkeleton-pulse" style="width: 60%; height: 12px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-layout">
        <dir-pagination-controls max-size="maxSize" boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>