<!DOCTYPE html>
<html lang="vi" ng-app="AppMusic">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="./assets/img/Default/favicon2.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    @Styles.Render("~/assets/css")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    @Scripts.Render("~/Scripts/js")
    <style>
        /*Toast / Snackbar*/
        #snackbar {
            min-width: 250px;
            margin-left: -125px;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 9999;
            left: 50%;
            top: -60px;
            font-size: 1.4rem;
            opacity: 0;
        }

            #snackbar.show {
                top: 30px;
                opacity: 1;
                transition: top linear 0.2s, opacity linear 0.2s;
            }
    </style>
</head>

<body>
    <div id="snackbar">{{snackbarContent}}</div>
    <div class="app" ng-controller="LoginController">
        <div class="loading">
            <img src="./assets/img/Default/loading-37.gif" alt="">
        </div>
        <nav class="sidebar" ng-controller="SidebarController">
            <div class="sidebar__header" style="display: flex; justify-content: center">
                <div class="sidebar__brand-name">
                    <span>M</span><span>M</span>
                </div>
                @*<a class="sidebar__upgrade btn btn--primary btn-outline" href="#">
                    Nâng cấp
                </a>*@
            </div>
            <div class="sidebar__userAset">
                <a href="#!/nguoi-dung" class="sidebar__user" ng-click="changePage(-1)" ng-if="logged">
                    <div class="sidebar__user-avatar">
                        @* onerror="this.src='../../assets/img/user/default.png'" *@
                        <img src="~/assets/img/user/{{User.user.Image}}" alt="{{User.user.PersonName}}">
                    </div>
                    <div class="sidebar__user-name">
                        <span title="{{User.user.PersonName}}">{{User.user.PersonName}}</span>
                        @*<span ng-show="UserVip">VIP</span>*@
                    </div>
                </a>
                <div class="signin-singup">
                    <span id="showlogin">Đăng nhập</span>|<span id="showsignup">Đăng ký</span>
                </div>
                <button class="btn sidebar__btn-setting">
                    <i class='bx bx-cog'></i>
                </button>
            </div>
            <div class="sidebar__navigation">
                <ul class="sidebar__navigation-listitem">
                    <li class="sidebar__navigation-item">
                        <a href="#!/tim-kiem" class="sidebar__navigation-link" ng-class="{active:isActive(0)}"
                           ng-click="changePage(0)">
                            <i class='bx bx-search'></i>
                            <span>Tìm kiếm</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-item">
                        <a href="#!/" class="sidebar__navigation-link" ng-class="{active:isActive(1)}"
                           ng-click="changePage(1)">
                            <i class='bx bxs-home'></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-item">
                        <div class="sidebar__navigation-link" ng-class="{active:isActive(2), show:isActive(2)}">
                            <i class='bx bxs-compass'></i>
                            <span>Khám phá</span>
                            <i class='bx bx-chevron-up'></i>
                        </div>
                        <div class="sidebar__navigation-listsubitem">
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/kham-pha/bai-hat" class="sidebar__navigation-sublink"
                                   ng-class="{active:isSubActive(1)}" ng-click="changePage(2); changeSubPage(1)">
                                    <span>Bài hát</span>
                                </a>
                            </div>
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/kham-pha/playlist?n=vn&col=Col0000001" class="sidebar__navigation-sublink"
                                   ng-class="{active:isSubActive(2)}" ng-click="changePage(2); changeSubPage(2)">
                                    <span>Playlist</span>
                                </a>
                            </div>
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/kham-pha/album" class="sidebar__navigation-sublink"
                                   ng-class="{active:isSubActive(3)}" ng-click="changePage(2); changeSubPage(3)">
                                    <span>Album</span>
                                </a>
                            </div>
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/kham-pha/nghe-si?g=1" class="sidebar__navigation-sublink"
                                   ng-class="{active:isSubActive(4)}" ng-click="changePage(2); changeSubPage(4)">
                                    <span>Nghệ sĩ</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="sidebar__navigation-item">
                        <div class="sidebar__navigation-link" ng-class="{active:isActive(3), show:isActive(3)}">
                            <i class='bx bxs-music'></i>
                            <span>Nghe gì hôm nay</span>
                            <i class='bx bx-chevron-up'></i>
                        </div>
                        <div class="sidebar__navigation-listsubitem">
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/tuyen-tap" class="sidebar__navigation-sublink"
                                   ng-class="{active:isSubActive(5)}" ng-click="changePage(3); changeSubPage(5)">
                                    <span>Tuyển tập</span>
                                </a>
                            </div>
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/top-100?n=vn&col=Col0000001" class="sidebar__navigation-sublink"
                                   ng-class="{active:isSubActive(6)}" ng-click="changePage(3); changeSubPage(6)">
                                    <span>Top 100</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="sidebar__navigation-item">
                        <a href="#!/bang-xep-hang?n=vn" class="sidebar__navigation-link" ng-class="{active:isActive(4)}"
                           ng-click="changePage(4)">
                            <i class='bx bx-bar-chart'></i>
                            <span>BXH MM</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-library" ng-show="logged">THƯ VIỆN</li>
                    <li class="sidebar__navigation-item" ng-show="logged">
                        <a href="#!/my-playlist" class="sidebar__navigation-link" ng-class="{active:isActive(5)}"
                           ng-click="changePage(5)">
                            <i class='bx bx-cloud'></i>
                            <span>My Playlist</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-item" ng-show="logged">
                        <a href="#!/da-thich/bai-hat" class="sidebar__navigation-link" ng-class="{active:isActive(6)}"
                           ng-click="changePage(6)">
                            <i class='bx bx-heart'></i>
                            <span>Yêu thích</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-item" ng-show="logged">
                        <a href="#!/da-nghe/bai-hat" class="sidebar__navigation-link" ng-class="{active:isActive(7)}"
                           ng-click="changePage(7)">
                            <i class='bx bx-history'></i>
                            <span>Lịch sử nghe</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="sidebar__setting">
            <div class="setting__item">
                <i class='bx bx-support'></i>
                <span>Hỗ trợ</span>
            </div>
            <div class="setting__item">
                <i class='bx bx-moon'></i>
                <span>Chủ đề</span>
                <i class='bx bx-chevron-right'></i>
                <div class="setting__subitem">
                    <p>Nền sáng</p>
                    <p>Nền tối</p>
                </div>
            </div>

            <div class="setting__item" ng-click="Logout()" ng-if="logged">
                <i class='bx bx-log-in-circle'></i>
                <span>Đăng xuất</span>
            </div>
        </div>

        <section class="home-main">
            @RenderBody()

            <ng-view>

            </ng-view>

            <div class="footer" style="margin-bottom: 100px">
                <div class="link">
                    <div class="service">
                        <ul class="nav_service">
                            <li><a href="#!/">Giới thiệu</a></li>
                            <li><a href="#!/">SP-DV</a></li>
                            <li><a href="#!/">Hỗ trợ</a></li>
                            <li><a href="#!/">Thỏa thuận người dùng</a></li>
                        </ul>
                    </div>
                    <div class="service">
                        <ul class="nav_service">
                            <li><i class='bx bxl-facebook-square'></i></li>
                            <li><i class='bx bxl-google-plus-circle'></i></li>
                            <li><i class='bx bxl-apple'> </i></li>
                            <li><i class='bx bxl-microsoft'> </i></li>
                        </ul>
                    </div>
                </div>
                <div class="infor">
                    <p>Website được xây dựng dựa trên Nhaccuatui.com bởi 3 thành viên: An, Nam, Tuyết</p>
                </div>
            </div>
        </section>

        <section class="play-music" ng-controller="PlayMusicController" ng-class="{hidden: config.hidden, playing: config.isPlayingMusic}">
            <div class="background-wrap">
                <img src="../../assets/img/Song/{{songIsPlayed.Song.Image}}" alt="" class="bgImgMain" />
                <div class="background">
                    <img src="../../assets/img/Default/background5.jpg" alt="">
                    <img src="../../assets/img/Default/background10.jpg" alt="">
                    <img src="../../assets/img/Default/background1.jpg" alt="">
                    <img src="../../assets/img/Default/background2.jpg" alt="">
                    <img src="../../assets/img/Default/background3.jpg" alt="">
                    <img src="../../assets/img/Default/background4.jpg" alt="">
                    <img src="../../assets/img/Default/background6.jpg" alt="">
                    <img src="../../assets/img/Default/background7.jpg" alt="">
                    <img src="../../assets/img/Default/background8.jpg" alt="">
                    <img src="../../assets/img/Default/background9.jpg" alt="">
                </div>
            </div>
            <div class="play-music__main">
                <div class="media">
                    <div class="media-left">
                        <img src="../../assets/img/Song/{{songIsPlayed.Song.Image}}" alt="{{songIsPlayed.Song.SongName}}">
                    </div>
                    <div class="media-content">
                        <div class="song__name">
                            <a href="#!/chi-tiet/bai-hat?song={{songIsPlayed.Song.SongID}}">{{songIsPlayed.Song.SongName}}</a>
                            @*<div class="song_vip_horizontal" ng-show="songIsPlayed.Song.isVip">VIP</div>*@
                        </div>
                        <div class="song__artist">
                            <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in songIsPlayed.Artists">{{a.ArtistName}}</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="song__like">
                            <button class="btn btn--circle btn-song-like">
                                <i class='bx bx-heart' ng-if="songIsPlayed.Liked == 0"></i>
                                <i class='bx bxs-heart' ng-if="songIsPlayed.Liked == 1" style="color: var(--main-color)"></i>
                            </button>
                        </div>
                        <div class="song__more">
                            <button class="btn btn--circle btn-song-more">
                                <i class='bx bx-dots-vertical-rounded'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <div class="controls__player">
                        <button class="btn btn--circle btn-random-music" ng-class="{active: config.isRandomMusic}">
                            <i class='bx bx-shuffle'></i>
                        </button>
                        <button class="btn btn--circle btn-prev-music">
                            <i class='bx bx-skip-previous'></i>
                        </button>
                        <button class="btn btn--circle btn-outline btn-toggle-play">
                            <i class='bx bxs-right-arrow' ng-hide="config.isPlayingMusic"></i>
                            <i class='bx bx-pause' style="font-size: 4rem" ng-show="config.isPlayingMusic"></i>
                        </button>
                        <button class="btn btn--circle btn-next-music">
                            <i class='bx bx-skip-next'></i>
                        </button>
                        <button class="btn btn--circle btn-repeat-music" style="position: relative" ng-class="{active: config.isRepeatMusic > 0}">
                            <i class='bx bx-repeat bx-rotate-180'></i>
                            <span ng-show="config.isRepeatMusic == 1" style="position: absolute; left: 8px; padding: 0; top: 10px; font-size: 1.2rem; display: inline-block; background-color: var(--white-color);">1</span>
                        </button>
                    </div>
                    <div class="controls_time">
                        <span class="controls_time--left">03.22</span>
                        <input id="progress" class="controls_time--range" value="0" type="range" step="1" min="0"
                               max="100">
                        <audio id="audio" src="../../assets/mp3/{{songIsPlayed.Song.SongPath}}"
                               style="display: none;">
                        </audio>
                        <span class="controls_time--right">00.00</span>
                    </div>
                </div>
                <div class="controls-extend">
                    <button class="btn btn--circle">
                        <i class='bx bxs-videos'></i>
                    </button>
                    <button class="btn btn--circle btn-expand" ng-click="isFullScreen()">
                        <i class='bx bx-fullscreen' ng-hide="open"></i>
                        <i class='bx bx-exit-fullscreen' ng-show="open"></i>
                    </button>
                    <div class="volume">
                        <button class="btn btn--circle btn-switch-volume">
                            <i class='bx bx-volume-full' ng-show="config.volume >= 50"></i>
                            <i class='bx bx-volume-low' ng-show="config.volume < 50 && config.volume != 0"></i>
                            <i class='bx bx-volume-mute' ng-show="config.volume == 0"></i>
                        </button>
                        <input class="controls_volume" value="config.volume" type="range" step="1" min="0" max="100" ng-model="config.volume">
                    </div>
                    <button class="btn btn--circle btn-show-queue">
                        <i class='bx bxs-playlist'></i>
                    </button>
                </div>
            </div>

            <div class="play-music__waiting-list">
                <div class="player-queue__container">
                    <div class="player-queue__header">
                        <div class="player-queue__header-left">
                            <button class="btn btn--primary player-tab-btn active">
                                <span>Danh sách phát</span>
                            </button>
                            <button class="btn btn--primary player-tab-btn">
                                <span>Nghe gần đây</span>
                            </button>
                        </div>
                        <div class="player-queue__header-right">
                            <button class="btn btn--circle">
                                <i class='bx bx-stopwatch'></i>
                            </button>
                            <button class="btn btn--circle">
                                <i class='bx bx-dots-horizontal-rounded'></i>
                            </button>
                        </div>
                    </div>
                    <div class="player-queue__list">
                        <div class="player-queue__list-queue">
                            <div class="player-queue__list-title">
                                Đang phát
                            </div>
                            <div class="list-song-queue" style="margin-bottom: 15px;">
                                <div class="grid">
                                    <div class="row sm-gutter">
                                        <div class="col c-12">
                                            <div class="song__wraper">
                                                <div class="song top100 isPlayed">
                                                    <div class="song__img" style="margin: 0 10px;">
                                                        <img src="../../assets/img/song/{{songIsPlayed.Song.Image}}" alt="{{songIsPlayed.Song.SongName}}" />
                                                    </div>
                                                    <div class="song__info">
                                                        <div class="song__name">
                                                            <a href="#!/chi-tiet/bai-hat?song={{songIsPlayed.Song.SongID}}">{{songIsPlayed.Song.SongName}}</a>
                                                            @*<div class="song_vip_horizontal" ng-show="songIsPlayed.Song.isVip">VIP</div>*@
                                                        </div>
                                                        <div class="song__artist">
                                                            <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in songIsPlayed.Artists">{{a.ArtistName}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="song__like">
                                                        <button class="btn btn--circle btn-song-like">
                                                            <i class='bx bx-heart' ng-if="songIsPlayed.Liked == 0"></i>
                                                            <i class='bx bxs-heart' ng-if="songIsPlayed.Liked == 1" style="color: var(--main-color)"></i>
                                                        </button>
                                                    </div>
                                                    <div class="song__more">
                                                        <button class="btn btn--circle btn-song-more">
                                                            <i class='bx bx-dots-vertical-rounded'></i>
                                                        </button>
                                                    </div>
                                                    <div class="song__listens">
                                                        <i class='bx bx-headphone'></i>
                                                        <span ng-if="songIsPlayed.Views > 999">{{songIsPlayed.Views / 1000 | number:1}}k</span>
                                                        <span ng-if="songIsPlayed.Views < 1000">{{songIsPlayed.Views}}</span>
                                                    </div>
                                                    <div class="feature__more">
                                                        <div class="feature__item btn-add-song-playlist">
                                                            <i class='bx bxs-playlist'></i>
                                                            <span>Thêm vào playlist</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bx-add-to-queue'></i>
                                                            <span>Thêm vào chờ phát</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bxs-download'></i>
                                                            <span>Tải xuống</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bx-link-alt'></i>
                                                            <span>Sao chép link</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bx-share-alt'></i>
                                                            <span>Chia sẻ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="player-queue__list-queue" ng-if="songsofQueue.length > 1">
                            <div class="player-queue__list-title">
                                Danh sách chờ phát
                            </div>
                            <div class="list-song-queue" style="margin-bottom: 15px;">
                                <div class="grid">
                                    <div class="row sm-gutter">
                                        <div class="col c-12" ng-repeat="s in songsofQueue track by $index">
                                            <div class="song__wraper">
                                                <div class="song top100" ng-class="{isPlayed: config.currentIndex == $index}">
                                                    <div class="song__img" style="margin: 0 10px;">
                                                        <img src="../../assets/img/song/{{s.Song.Image}}" alt="{{s.Song.SongName}}" />
                                                    </div>
                                                    <div class="song__info">
                                                        <div class="song__name">
                                                            <a href="#!/chi-tiet/bai-hat?song={{s.Song.SongID}}">{{s.Song.SongName}}</a>
                                                            @*<div class="song_vip_horizontal" ng-show="s.Song.isVip">VIP</div>*@
                                                        </div>
                                                        <div class="song__artist">
                                                            <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in s.Artists">{{a.ArtistName}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="song__like">
                                                        <button class="btn btn--circle btn-song-like">
                                                            <i class='bx bx-heart' ng-if="s.Liked == 0"></i>
                                                            <i class='bx bxs-heart' ng-if="s.Liked == 1" style="color: var(--main-color)"></i>
                                                        </button>
                                                    </div>
                                                    <div class="song__more">
                                                        <button class="btn btn--circle btn-song-more">
                                                            <i class='bx bx-dots-vertical-rounded'></i>
                                                        </button>
                                                    </div>
                                                    <div class="song__listens">
                                                        <i class='bx bx-headphone'></i>
                                                        <span ng-if="s.Views > 999">{{s.Views / 1000 | number:1}}k</span>
                                                        <span ng-if="s.Views < 1000">{{s.Views}}</span>
                                                    </div>
                                                    <div class="feature__more">
                                                        <div class="feature__item btn-add-song-playlist">
                                                            <i class='bx bxs-playlist'></i>
                                                            <span>Thêm vào playlist</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bx-add-to-queue'></i>
                                                            <span>Thêm vào chờ phát</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bxs-download'></i>
                                                            <span>Tải xuống</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bx-link-alt'></i>
                                                            <span>Sao chép link</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bx-share-alt'></i>
                                                            <span>Chia sẻ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="player-queue__list-queue" ng-if="songsofListPlay.length > 0">
                            <div class="player-queue__list-title">
                                Danh sách bài hát gợi ý
                            </div>
                            <div class="list-song-queue" style="margin-bottom: 15px;">
                                <div class="grid">
                                    <div class="row sm-gutter">
                                        <div class="col c-12" ng-repeat="s in songsofListPlay">
                                            <div class="song__wraper">
                                                <div class="song top100">
                                                    <div class="song__img" style="margin: 0 10px;">
                                                        <img src="../../assets/img/song/{{s.Song.Image}}" alt="{{s.Song.SongName}}" />
                                                    </div>
                                                    <div class="song__info">
                                                        <div class="song__name">
                                                            <a href="#!/chi-tiet/bai-hat?song={{s.Song.SongID}}">{{s.Song.SongName}}</a>
                                                            @*<div class="song_vip_horizontal" ng-show=s.Song.isVip>VIP</div>*@
                                                        </div>
                                                        <div class="song__artist">
                                                            <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in s.Artists">{{a.ArtistName}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="song__like">
                                                        <button class="btn btn--circle btn-song-like">
                                                            <i class='bx bx-heart' ng-if="s.Liked == 0"></i>
                                                            <i class='bx bxs-heart' ng-if="s.Liked == 1" style="color: var(--main-color)"></i>
                                                        </button>
                                                    </div>
                                                    <div class="song__more">
                                                        <button class="btn btn--circle btn-song-more">
                                                            <i class='bx bx-dots-vertical-rounded'></i>
                                                        </button>
                                                    </div>
                                                    <div class="song__listens">
                                                        <i class='bx bx-headphone'></i>
                                                        <span ng-if="s.Views > 999">{{s.Views / 1000 | number:1}}k</span>
                                                        <span ng-if="s.Views < 1000">{{s.Views}}</span>
                                                    </div>
                                                    <div class="feature__more">
                                                        <div class="feature__item btn-add-song-playlist">
                                                            <i class='bx bxs-playlist'></i>
                                                            <span>Thêm vào playlist</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bxs-download'></i>
                                                            <span>Tải xuống</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bx-link-alt'></i>
                                                            <span>Sao chép link</span>
                                                        </div>
                                                        <div class="feature__item">
                                                            <i class='bx bx-share-alt'></i>
                                                            <span>Chia sẻ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="player-queue__list" style="display: none">
                            <div class="player-queue__list-queue">
                                <div class="list-song-queue">
                                    <div class="grid">
                                        <div class="row sm-gutter">
                                            <div class="col c-12" ng-repeat="s in songsofListened">
                                                <div class="song__wraper">
                                                    <div class="song top100">
                                                        <div class="song__img" style="margin: 0 10px;">
                                                            <img src="../../assets/img/song/{{s.Song.Image}}" alt="{{s.Song.SongName}}" />
                                                        </div>
                                                        <div class="song__info">
                                                            <div class="song__name">
                                                                <a href="#!/chi-tiet/bai-hat?song={{s.Song.SongID}}">{{s.Song.SongName}}</a>
                                                                @*<div class="song_vip_horizontal" ng-show="s.Song.isVip">VIP</div>*@
                                                            </div>
                                                            <div class="song__artist">
                                                                <a href="#!/chi-tiet/nghe-si?id={{a.ArtistID}}" ng-repeat="a in s.Artists">{{a.ArtistName}}</a>
                                                            </div>
                                                        </div>
                                                        <div class="song__like">
                                                            <button class="btn btn--circle btn-song-like">
                                                                <i class='bx bx-heart' ng-if="s.Liked == 0"></i>
                                                                <i class='bx bxs-heart' ng-if="s.Liked == 1" style="color: var(--main-color)"></i>
                                                            </button>
                                                        </div>
                                                        <div class="song__more">
                                                            <button class="btn btn--circle btn-song-more">
                                                                <i class='bx bx-dots-vertical-rounded'></i>
                                                            </button>
                                                        </div>
                                                        <div class="song__listens">
                                                            <i class='bx bx-headphone'></i>
                                                            <span ng-if="s.Views > 999">{{s.Views / 1000 | number:1}}k</span>
                                                            <span ng-if="s.Views < 1000">{{s.Views}}</span>
                                                        </div>
                                                        <div class="feature__more">
                                                            <div class="feature__item btn-add-song-playlist">
                                                                <i class='bx bxs-playlist'></i>
                                                                <span>Thêm vào playlist</span>
                                                            </div>
                                                            <div class="feature__item">
                                                                <i class='bx bxs-download'></i>
                                                                <span>Tải xuống</span>
                                                            </div>
                                                            <div class="feature__item">
                                                                <i class='bx bx-link-alt'></i>
                                                                <span>Sao chép link</span>
                                                            </div>
                                                            <div class="feature__item">
                                                                <i class='bx bx-share-alt'></i>
                                                                <span>Chia sẻ</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="modal" id="modal-login-singup">
            <div class="modal__overlay"></div>
            <div class="modal__body">
                <!-- Register form -->
                <form class="auth-form" id="registerForm">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng ký</h3>
                            <span class="auth-form__switch-btn">Đăng nhập</span>
                        </div>
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Email của bạn">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu">
                            </div>
                        </div>
                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                Bằng việc đăng kí, bạn đồng ý với My Music về
                                <a href="#" class="auth-form__text-link">Điều khoản dịch vụ</a> &
                                <a href="#" class="auth-form__text-link">Chính sách bảo mật</a>
                            </p>
                        </div>
                        <div class="auth-form__controls">
                            <button class="btn btn-outline auth-form__controls-back">Quay lại</button>
                            <button type="submit" class="btn btn--primary btn-outline btn-login">Đăng ký</button>
                        </div>
                    </div>
                    <div class="auth-form__socials">
                        Hoặc đăng nhập bằng:
                        <button class="btn btn--circle auth-form__socials--facebook">
                            <i class='bx bxl-facebook'></i>
                        </button>
                        <button class="btn btn--circle auth-form__socials--google">
                            <img src="./assets/img/Default/gg.png" alt="">
                        </button>
                    </div>
                </form>
                <!-- Login form -->
                <form class="auth-form" id="loginForm" novalidate name="LoginForm">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng nhập</h3>
                            <span class="auth-form__switch-btn">Đăng ký</span>
                        </div>
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="email" class="auth-form__input" name="EmailLogin" placeholder="Email của bạn" ng-model="EmailLogin"
                                       ng-class="{'warning': warningEmail}" ng-focus="warningEmail=false; isLoginSubmit=true" ng-blur="warningEmail=LoginForm.EmailLogin.$error.email" required>
                                <p class="input-warning" ng-show="warningEmail">Email không hợp lệ!</p>
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" name="PassLogin" placeholder="Mật khẩu của bạn" ng-model="PassLogin"
                                       ng-class="{'warning': warningPass}" ng-focus="warningPass=false; isLoginSubmit=true" ng-blur="warningPass=LoginForm.PassLogin.$error.required" required>
                                <p class="input-warning" ng-show="warningPass">Không được bỏ trống!</p>
                            </div>
                            <p class="input-warning" ng-hide="isLoginSubmit" style="text-align: center; margin-top: 4px;">Tài khoản hoặc mật khẩu không chính xác!</p>
                        </div>
                        <div class="auth-form__aside">
                            <div class="auth-form__help">
                                <a href="#" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                                <span class="auth-form__help-separate"></span>
                                <a href="#" class="auth-form__help-link">Cần trợ giúp?</a>
                            </div>
                        </div>
                        <div class="auth-form__controls">
                            @* Button ko có type nằm trong form thì mặc định là submit hết *@
                            <button type='button' class="btn btn-outline auth-form__controls-back">Quay lại</button>
                            <button type="submit" ng-class={disabled:LoginForm.$invalid} ng-disabled="LoginForm.$invalid" class="btn btn--primary btn-outline btn-login" ng-click="loginSubmit()">Đăng nhập</button>
                        </div>
                    </div>
                    <div class="auth-form__socials">
                        Hoặc đăng nhập bằng:
                        <button class="btn btn--circle auth-form__socials--facebook">
                            <i class='bx bxl-facebook'></i>
                        </button>
                        <button class="btn btn--circle auth-form__socials--google">
                            <img src="./assets/img/Default/gg.png" alt="">
                        </button>
                    </div>
                </form>
            </div>
        </section>

        <section class="modal2" id="playlist">
            <div class="modal__overlay"></div>
            <div class="modal__body">
                <!-- Add playlist form -->
                <form class="add-form" id="addplaylistForm" novalidate name="addplaylistForm">
                    <div class="form-title">
                        <p>Chọn playlist muốn thêm</p>
                        <button class="btn btn-close-form">
                            <i class='bx bx-x'></i>
                        </button>
                    </div>
                    <div class="form-content">
                        <div class="form-item" ng-repeat="p in playlistsforAdd" ng-click="addSongtoPlaylist(songIDforAdd, p.PlaylistUser.PlaylistID)">
                            <span class="form-item-left">
                                <span title="{{p.PlaylistUser.PlaylistName}}">{{p.PlaylistUser.PlaylistName}}</span>
                                <span style="margin-left: 12px">({{p.TotalSongs}})</span>
                            </span>
                            <i class='bx bxs-lock' ng-hide="p.PlaylistUser.isPublic" title="Cá nhân"></i>
                            <i class='bx bx-globe' ng-show="p.PlaylistUser.isPublic" title="Công khai"></i>
                        </div>
                    </div>
                    <div class="form-create">
                        <div class="form-input">
                            <input type="text" name="playlistname" value="" placeholder="Nhập tên playlist cần tạo" />
                        </div>
                        <div>
                            <button class="btn btn-addplaylist">
                                Tạo playlist
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</body>

</html>