
@{
    ViewBag.Title = "Quản lí Album";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/AdminController/album.management.controller.js")
<!-- Bootstrap Color Picker -->
<link href="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- bootstrap wysihtml5 - text editor -->
<link href="~/Areas/Administrator/assets/Administrator/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />

<section ng-controller="AlbumManaController">
    <section class="content-header">
        <h1>
            Quản Lý Album
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-music"></i>Quản lý</a></li>
            <li class="active"> Quản Lý Album</li>
        </ol>
        <div class="input-group" style="display:flex!important; width:550px;margin-top:10px">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <button ng-click="addAlbum()" class="btn btn-primary btn-block" style="margin-left:100px!important" data-toggle="modal" data-target="#modaladdartist">Thêm Album</button>
        </div>


    </section>

    <!-- Main content -->
    <section class="content">
        <div class="table-responsive">
            <table show-filter="true" class="table table-bordered table-striped stickytb">
                <thead>
                    <tr>
                        <td></td>
                        <th scope="col">Mã Abum</th>
                        <th scope="col">Tên Album</th>
                        <th scope="col">Mô Tả</th>
                        <th scope="col">Anh</th>
                        <th scope="col">Mã Nghệ Sĩ</th>
                        <th scope="col">Ngày Phát Hành</th>
                        <th scope="col">Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in albums">
                        <td>{{$index + 1}}</td>
                        <td scope="col">{{a.AlbumID}}</td>
                        <td scope="col">{{a.AlbumName}}</td>
                        <td scope="col">{{a.Description}}</td>
                        <td scope="col"><img style=" width:60px;height:60px" src="~/assets/img/album/{{a.Image}}" /></td>
                        <th scope="col">{{a.ArtistID}}</th>
                        <th scope="col"> {{a.ReleasedDate| jsDate | date : "dd-MM-yyyy"}}</th>
                        <td>
                            <button ng-click="EditAlbum(a)" type="button" style="background-color:forestgreen" title="Sửa" data-toggle="modal" data-target="#modaledit-artist">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button ng-click="Delete(a)" type="button" style="background-color:red" title="Xóa" data-toggle="modal" data-target="#modaldeletesong">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="modal fade" id="modaladdartist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm Album</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mã Album:</label>
                                    <input type="text" class="form-control" ng-model="alb.AlbumID">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Tên Album:</label>
                                    <input type="text" class="form-control" ng-model="alb.AlbumName">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mô tả:</label>
                                    <input type="text" class="form-control" ng-model="alb.Description">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Anh Album</label>
                                    <input type="file" id="Image" ngf-select="UploadFiles($files,'Image')" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mã Nghệ Sĩ</label>
                                    <input type="text" class="form-control" ng-model="alb.ArtistID">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Ngày phát hành:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" ng-model="alb.ReleasedDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button ng-click="SaveAdd()" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modaledit-artist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sửa Album</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mã Album:</label>
                                    <input type="text" class="form-control" ng-model="alb.AlbumID">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Tên Album:</label>
                                    <input type="text" class="form-control" ng-model="alb.AlbumName">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mô tả:</label>
                                    <input type="text" class="form-control" ng-model="alb.Description">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Anh Album</label>
                                    <input type="file" id="Image" ngf-select="UploadFiles($files,'Image')" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mã Nghệ Sĩ</label>
                                    <input type="text" class="form-control" ng-model="alb.ArtistID"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Ngày phát hành:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" ng-model="alb.ReleasedDate"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button ng-click="SaveEdit()" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="modal fade" id="modalletesong" role="dialog" aria-labelledby="mySmallModalLabel">
            <form class="modal-dialog modal-sm" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="text-align: center">Bạn có đồng ý muốn xóa bài hát</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary" ng-click="agreetodeleteAlbum ()">Đồng ý</button>
                    </div>
                </div>
            </form>
        </div>*@
    </section>
</section>
<!-- Bootstrap 3.3.7 -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap datepicker -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/Areas/Administrator/assets/Administrator/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<script>
    $(document).ready(function () {
        $('#datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
        }).datepicker('setDate', new Date())
        $('.textarea').wysihtml5()
    })
</script>


