@{
    ViewBag.Title = "Quản lý Album";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/AdminController/album.management.controller.js")
<!-- Bootstrap Color Picker -->
<link href="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<section ng-controller="AlbumManaController">
    <section class="content-header">
        <h1>
            Quản lý Album
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-music"></i>Quản lý</a></li>
            <li class="active">Quản lý Album</li>
        </ol>
        <button ng-click="addAlbum()" class="btn btn-primary btn-block" style="margin-top: 8px" data-toggle="modal" data-target="#modaladd-editalbum">Thêm album</button>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="table-responsive">
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped stickytb">
                <tr ng-repeat="row in $data">
                    <td title="'#'">
                        {{$index + 1}}
                    </td>
                    <td title="'Ảnh'">
                        <img src="~/assets/img/album/{{row.Image}}" alt="{{row.AlbumName}}" />
                    </td>
                    <td title="'Mã Album'" filter="{'AlbumID': 'text'}" sortable="'AlbumID'">
                        {{row.AlbumID}}
                    </td>
                    <td title="'Tên Album'" filter="{'AlbumName': 'text'}" sortable="'AlbumName'">
                        {{row.AlbumName}}
                    </td>
                    <td title="'Mô tả'">
                        {{row.Description}}
                    </td>
                    <td title="'Ngày phát hành'" filter="{'ReleasedDate': 'text'}" sortable="'ReleasedDate'">
                        {{row.ReleasedDate | jsDate | date : "dd-MM-yyyy"}}
                    </td>
                    <td title="'Ảnh nghệ sĩ'">
                        <img src="~/assets/img/artist/{{row.Artist.Image}}" alt="{{row.Artist.ArtistName}}" />
                    </td>
                    <td title="'Tên nghệ sĩ'" filter="{'ArtistName': 'text'}" sortable="'ArtistName'">
                        {{row.Artist.ArtistName}}
                    </td>
                    <td title="'Thao tác'">
                        <button ng-click="editAlbum(row)" type="button" class="btn btn-block btn-success" title="Sửa" data-toggle="modal" data-target="#modaladd-editalbum">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="deleteAlbum(row)" type="button" class="btn btn-block btn-danger" title="Xóa" data-toggle="modal" data-target="#modaldeletealbum">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal fade" id="modaladd-editalbum" role="dialog" aria-labelledby="myLargeModalLabel">
            <form class="modal-dialog modal-lg" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="text-align: center">{{feature}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mã Album:</label>
                                    <input type="text" class="form-control" disabled ng-model="Album.AlbumID">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Tên Album:</label>
                                    <input type="text" class="form-control" ng-model="Album.AlbumName">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Mô tả:</label>
                                    <input type="text" class="form-control" ng-model="Album.Description">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Ngày phát hành:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" id="datepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>File ảnh album:</label>
                                    <input type="file" id="file-img" class="form-control" style="display: none" ngf-select="UploadImage($files)" ng-model="SelectedFileImage">
                                    <div class="input-group">
                                        <input type="text" class="form-control" disabled placeholder="Tải ảnh album lên" ng-model="Album.Image">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="RemoveImage()">Remove</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="openFileImage()">Upload</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Nghệ sĩ:</label>
                                    <div class="input-group">
                                        <ui-select ng-model="Album.Artist" title="Chọn nghệ sĩ">
                                            <ui-select-match placeholder="Chọn hoặc tìm kiếm nghệ sĩ ...">
                                                <span>{{$select.selected.ArtistName}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="a in artists | filter: {ArtistName: $select.search}" group-by="firstLetterGroupAlbumFn2">
                                                <img src="~/assets/img/artist/{{a.Image}}" style="width: 30px; height: 30px; object-fit: cover; margin-right: 8px; " alt="" />
                                                <span>{{a.ArtistName}}</span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="Album.Artist = null" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label>Bài hát:</label>
                                <ui-select multiple ng-model="Album.Songs" close-on-select="false" title="Chọn các bài hát">
                                    <ui-select-match placeholder="Chọn hoặc tìm các bài hát">
                                        <img src="~/assets/img/song/{{$item.Image}}" style="width: 30px; height: 30px; object-fit: cover; margin-right: 8px;" alt="" />
                                        <span>{{$item.SongName}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="s in songs | filter: {SongName : $select.search}" group-by="firstLetterGroupAlbumFn">
                                        <img src="~/assets/img/song/{{s.Image}}" style="width: 30px; height: 30px; object-fit: cover; margin-right: 8px;" alt="" />
                                        <span>{{s.SongName}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" ng-click="addeditPlaylistSave()">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="modaldeletealbum" role="dialog" aria-labelledby="mySmallModalLabel">
            <form class="modal-dialog modal-sm" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="text-align: center">Bạn có đồng ý muốn xóa album?</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="agreetodeletePlaylist()">Đồng ý</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- /.content -->
</section>

<!-- Bootstrap 3.3.7 -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap datepicker -->
<script src="~/Areas/Administrator/assets/Administrator/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $('#datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
        }).datepicker('setDate', new Date())
    })
</script>