
@{
    ViewBag.Title = "Quản lý bài hát | My Music";
    ViewBag.TitleSub = "Quản lý bài hát";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/AdminController/song.management.controller.js")
<div class="content-wrapper" ng-controller="SongManaController" style="padding-left: 2.187rem">
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active ps-0">Quản lý bài hát</a>
                        </li>
                    </ul>
                    <div class="nav-item">
                        <form class="input-group" action="#">
                            <input type="text" class="form-control" placeholder="Nhập tên bài hát" title="Tìm kiếm bài hát">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-primary" type="button" style="color: white">Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div class="btn-wrapper">
                            <button class="btn btn-outline-info mb-0" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalLg" ng-click="addSong()"><i class="icon-file-add"></i> Thêm</button>
                            <a href="#" class="btn btn-otline-dark mb-0"><i class="icon-printer"></i> In</a>
                            <a href="#" class="btn btn-primary text-white me-0 mb-0"><i class="icon-download"></i> Xuất</a>
                        </div>
                    </div>
                </div>
                <div class="main_body" style="margin-top: 26px;">
                    <div class="table-responsive">
                        <table class="table table-striped stickyTB">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Mã bài hát</th>
                                    <th scope="col">Ảnh</th>
                                    <th scope="col">Tên bài hát</th>
                                    <th scope="col">Nghệ sĩ</th>
                                    <th scope="col">Thể loại</th>
                                    <th scope="col">Quốc gia</th>
                                    <th scope="col">Ngày phát hành</th>
                                    <th scope="col">Vip</th>
                                    <th scope="col">Số lượt nghe</th>
                                    <th scope="col">Số lượt thích</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="s in songs | itemsPerPage: pageSize" total-items="totalCount" current-page="pageIndex">
                                    <td>
                                        {{pageSize * (pageIndex - 1) + ($index + 1) }}
                                    </td>
                                    <td>
                                        {{s.Song.SongID}}
                                    </td>
                                    <td>
                                        <img src="~/assets/img/song/{{s.Song.Image}}" alt="{{s.Song.SongName}}" style="object-fit: cover;" />
                                    </td>
                                    <td>
                                        {{s.Song.SongName}}
                                    </td>
                                    <td>
                                        <span ng-repeat="a in s.Artists">{{a.ArtistName}}</span>
                                    </td>
                                    <td>
                                        <span ng-repeat="c in s.Collections">{{c.CollectionName}}</span>
                                    </td>
                                    <td>
                                        {{s.Song.Nation | cvNation}}
                                    </td>
                                    <td>
                                        {{s.Song.ReleaseDate | jsDate | date : "dd/MM/yyyy"}}
                                    </td>
                                    <td>
                                        <label class="badge badge-warning" ng-if="s.Song.isVip">Vip</label>
                                        <label class="badge badge-dark" ng-if="!s.Song.isVip">Thường</label>
                                    </td>
                                    <td>
                                        {{s.Views}}
                                    </td>
                                    <td>
                                        {{s.TotalLikes}}
                                    </td>
                                    <td>
                                        <button ng-click="Delete(s)" type="button" class="btn btn-outline-danger mb-0" title="Xóa">
                                            <i class="ti-trash"></i>
                                        </button>
                                        <button ng-click="Delete(s)" type="button" class="btn btn-outline-warning mb-0" title="Sửa">
                                            <i class="ti-write"></i>
                                        </button>
                                        @*<button ng-click="Delete(s)" type="button" class="btn btn-outline-success mb-0" title="Xem chi tiết">
                                <i class="ti-eye"></i>
                            </button>*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ui-select ng-model="selected.value" class="js-example-basic-single w-100">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="wrap-layout">
                        <dir-pagination-controls max-size="maxSize" boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Large modal -->
    <div class="modal fade" id="exampleModalLg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thêm bài hát</h4>
                        <p class="card-description">
                            Nhập thông tin rồi nhấn lưu để thêm bài hát!
                        </p>
                        <form class="forms-sample">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Mã bài hát</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="exampleInputName1" disabled placeholder="Name" ng-model="Song.SongID">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Tên bài hát</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="Song.SongName" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Ngày phát hành</label>
                                        <div class="col-sm-9">
                                            <div id="datepicker-popup2" class="input-group date datepicker navbar-date-picker">
                                                <span class="input-group-addon input-group-prepend border-right">
                                                    <span class="icon-calendar input-group-text calendar-icon"></span>
                                                </span>
                                                <input type="text" class="form-control" id="releaseDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Quốc gia</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="Song.Nation">
                                                <option ng-value="{{ 1 }}">Việt Nam</option>
                                                <option ng-value="{{ 2 }}">Âu Mỹ</option>
                                                <option ng-value="{{ 3 }}">Châu Á</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Bài hát Vip</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="Song.isVip">
                                                <option ng-value="{{ false }}">Không</option>
                                                <option ng-value="{{ true }}">Có</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">File bài hát</label>
                                        <div class="col-sm-9">
                                            <input type="file" name="img[]" class="file-upload-default">
                                            <div class="input-group col-xs-12">
                                                <input type="text" class="form-control file-upload-info" disabled placeholder="Tải bài hát lên" ng-model="Song.SongPath">
                                                <span class="input-group-append">
                                                    <button class="file-upload-browse btn btn-primary" type="button">Tải lên</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Lời bài hát</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="exampleTextarea1" rows="10" ng-model="Song.Lyric"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">File ảnh bài hát</label>
                                        <div class="col-sm-9">
                                            <input type="file" name="img[]" class="file-upload-default">
                                            <div class="input-group col-xs-12">
                                                <input type="text" class="form-control file-upload-info" disabled placeholder="Tải ảnh bài hát lên" ng-model="Song.Image">
                                                <span class="input-group-append">
                                                    <button class="file-upload-browse btn btn-primary" type="button">Tải lên</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Lời bài hát</label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100">
                                                <option value="AL">Alabama</option>
                                                <option value="WY">Wyoming</option>
                                                <option value="AM">America</option>
                                                <option value="CA">Canada</option>
                                                <option value="RU">Russia</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">File ảnh bài hát</label>
                                        <div class="col-sm-9">
                                            <input type="file" name="img[]" class="file-upload-default">
                                            <div class="input-group col-xs-12">
                                                <input type="text" class="form-control file-upload-info" disabled placeholder="Tải ảnh bài hát lên" ng-model="Song.Image">
                                                <span class="input-group-append">
                                                    <button class="file-upload-browse btn btn-primary" type="button">Tải lên</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-outline-danger mb-0" type="button" data-bs-dismiss="modal">Đóng</button>
                            <button class="btn btn-outline-info mb-0" type="button" ng-click="addSongSave()">Lưu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
