<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/assets/img/default/favicon2.png" />
    @Styles.Render("~/login/assets/css")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AdminController/login.controller.js"></script>
    <title>Đăng nhập</title>
</head>
<body>
    <div class="content" ng-app="AppMusic" ng-controller="LoginController">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Areas/Admin/assets/login-form-07/images/undraw_remotely_2j6y.svg" class="img-fluid" />
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>ĐĂNG NHẬP</h3>
                                <p class="mb-4">Đăng nhập để tiếp tục sử dụng!</p>
                            </div>
                            <form>
                                <div class="form-group first">
                                    <label for="username">Tên tài khoản</label>
                                    <input type="text" class="form-control" id="username" ng-model="AccountName">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" class="form-control" id="password" ng-model="Password">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Ghi nhớ</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Quên mật khẩu?</a></span>
                                </div>

                                <input type="submit" value="Đăng nhập" ng-click="Login()" class="btn btn-block btn-primary">
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    @Scripts.Render("~/login/Scripts/js")
</body>
</html>